/* basic-set*/
* {
	margin: 0px;
	padding: 0px;
	z-index: 0;
}

body {
	overflow-x: hidden;
	font-family: 'Nanum Square', 'Nanum Gothic', sans-serif;
	font-weight: normal;
	max-width: 1080px;
	margin : 0 auto;
	padding: 0 3%;
}

a, a:VISITED {
	color: inherit;
	text-decoration: none;
}

/* centering */
.col-center {
	display: -ms-flexbox;
    display: -webkit-flex;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	
  	/*Center horizontaly ie */
    -ms-flex-pack: center;
}

.row-center {
	display: -ms-flexbox;
    display: -webkit-flex;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	
	/*Center horizontaly ie */
    -ms-flex-pack: center;
}


/* util*/
.display-none {
	display: none;
}

.h-reverse {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

/* btn */
.btn { cursor: pointer; opacity: 0.6; }
.btn.on { opacity: 1; }
.btn:hover { opacity: 1; }

/* easyui tooltip override */
.tooltip{
	padding : 3px 7px !important;
	background: #000 !important;
	color: #FFF !important;	
    box-shadow: 0px 5px 5px #ECF0F1;
    border: none;
}

@media ( max-width : 800px) {
	body {
		padding : 0;
	}
}

