/*CKEditor Class */

.editor{
	padding: 1rem 2rem;
}

.editor-contents {
	color: #333;
	line-height: 2.4;
	word-break: break-all;
}

.editor-contents iframe{
	margin: 2rem 0;
}

.editor-contents h1, .editor-contents h2, .editor-contents h3 {
	margin: 0.3rem 0;
}

.editor-contents a, .editor-contents a:VISITED {
	text-decoration: underline;
	color: #00F;
}

.editor-contents ul, .editor-contents ol{
	margin : 0.3rem 1.5rem;
}

.editor-contents hr{
	border : 0.5px solid #DDD;
}

.editor-contents img{
	height: auto;
	margin: 1.5rem 0;
	border-color : #DDD;
	/* box-shadow : 0 1px 0 rgba(12,13,14,0.1), 0 1px 3px rgba(12,13,14,0.1), 0 4px 20px rgba(12,13,14,0.035), 0 1px 1px rgba(12,13,14,0.025); */
}

.editor-contents code {
	overflow-x: auto;
	margin: 10px 1px;
}

.editor-contents .mark{
	padding: 1px 5px;
	font-size: 0.95rem;
	background: #DEDEDE;
	border-radius: 5px;
}