/* basic-set*/
* {
	margin: 0px;
	padding: 0px;
	z-index: 0;
}

body {
	overflow-x: hidden;
	background: #FEFDFE;
}

a, a:VISITED {
	color: inherit;
	text-decoration: none;
}

/* centering */
.col-center {
	display: -ms-flexbox;
    display: -webkit-flex;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	
  	/*Center horizontaly ie */
    -ms-flex-pack: center;
}

.row-center {
	display: -ms-flexbox;
    display: -webkit-flex;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	
	/*Center horizontaly ie */
    -ms-flex-pack: center;
}

/* contents, by CKEditor*/
.editor-contents {
	color: #333;
	font-size: 0.6rem;
	line-height: 1.3rem;
	word-break: break-all;
}

.editor-contents h1, .editor-contents h2, .editor-contents h3 {
	margin: 0.5rem 0px;
}

.editor-contents p {
	line-height: 1.3rem;
}

.editor-contents a, .editor-contents a:VISITED {
	text-decoration: underline;
	color: #00F;
}

.editor-contents img {
	height: auto;
	border: 1px solid #AAA;
	margin: 0.3rem 0;
}

.editor-contents code {
	overflow-x: auto;
	margin: 1rem 0.1rem;
}

/* util*/
.row-border {
	width: 1rem;
	background: #DDD;
	margin: 0.8rem 0 0.4rem 0;
	height: 0.1rem;
}

.display-none {
	display: none;
}

.h-reverse {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

/* btn */
.btn { cursor: pointer; opacity: 0.6; }
.btn.on { opacity: 1; }
.btn:hover { opacity: 1; }

.btn-gray-text {
	display: inline-block;
	padding: 5px 10px 5px 10px;
	background: #CFCFCF;
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
}

.btn-gray-text:hover, .btn-gray-text1.on {
	color: #FFF;
	background: #888;
}

.btn-red-text {
	display: inline-block;
	padding: 5px 10px 5px 10px;
	background: #FCC;
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
}

.btn-red-text:hover, .btn-gray-text1.on {
	color: #FFF;
	background: #888;
}