*{
	margin	: 0px;
	padding	: 0px;
	z-index : 0;
}

body{
	overflow-x : hidden;
	background : #FDFDFD;
}

a, a:VISITED{
	color: inherit; 
	text-decoration: none;
}

.display-none{
	display: none;
}

.btn{
	cursor: pointer;
	opacity: 0.5;
}

.btn.on{
	opacity: 1;
}

.btn:hover{
	opacity: 1;
}

.h-reverse{
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

.scroll-no {
	overflow: hidden;
}