/* basic-set*/
* {
	margin: 0px;
	padding: 0px;
	z-index: 0;
}

body {
	overflow-x: hidden;
	background: #FFF; 
}

a, a:VISITED {
	color: inherit;
	text-decoration: none;
}

/* centering */
.col-center {
	display: -ms-flexbox;
    display: -webkit-flex;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	
  	/*Center horizontaly ie */
    -ms-flex-pack: center;
}

.row-center {
	display: -ms-flexbox;
    display: -webkit-flex;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	
	/*Center horizontaly ie */
    -ms-flex-pack: center;
}

/* common border */
.colum-border{
	width : 1px;
   	background : #DDD;
}

/* contents, by CKEditor*/
.editor-contents {
	color: #333;
	font-size: 1rem;
	line-height: 1.8rem;
	word-break: break-all;
}

.editor-contents h1, .editor-contents h2, .editor-contents h3 {
	margin: 0.5rem 0px;
}

.editor-contents a, .editor-contents a:VISITED {
	text-decoration: underline;
	color: #00F;
}

.editor-contents img {
	height: auto;
	margin: 0.3rem 0;
	border-color : #DDD;
	/* box-shadow : 0 1px 0 rgba(12,13,14,0.1), 0 1px 3px rgba(12,13,14,0.1), 0 4px 20px rgba(12,13,14,0.035), 0 1px 1px rgba(12,13,14,0.025); */
}

.editor-contents code {
	overflow-x: auto;
	margin: 1rem 0.1rem;
}

/* util*/
.display-none {
	display: none;
}

.h-reverse {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

/* btn */
.btn { cursor: pointer; opacity: 0.6; }
.btn.on { opacity: 1; }
.btn:hover { opacity: 1; }

.btn-gray-text {
	display: inline-block;
	padding: 5px 10px 5px 10px;
	background: #CFCFCF;
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
}

.btn-gray-text:hover, .btn-gray-text1.on {
	color: #FFF;
	background: #888;
}

.btn-red-text {
	display: inline-block;
	padding: 5px 10px 5px 10px;
	background: #FCC;
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
}

.btn-red-text:hover, .btn-gray-text1.on {
	color: #FFF;
	background: #888;
}

/* easyui tooltip override */
.tooltip{
	padding : 0.3rem 0.5rem !important;
	background: #000 !important;
	color: #FFF !important;	
    box-shadow: 0px 5px 5px #ECF0F1;
    border: none;
}

