*{
	margin	: 0px;
	padding	: 0px;
	z-index : 0;
	/*font-family:'Nanum Gothic';*/
}

a, a:VISITED{
	text-decoration: none;
}

.display-none{
	display: none;
}

.btn{
	cursor: pointer;
	opacity: 0.5;
}

.btn:hover{
	opacity: 1;
}