.main{
	margin: 0px auto;
}

.wrap-introduce{
	height: calc(100% - 50px);
	display : flex;
	justify-content: center;
	align-items: center;
	flex-flow: column nowrap;
} 

.introduce .introduce-name{
	text-align : center;
	font-size : 4rem;
	margin-bottom: 1rem;
}

.introduce .introduce-desc{
	font-size: 0.75rem;
	line-height: 1rem;
	text-align: center;
}

.me-icon{
	height 	: 30%;
	width	: 30%;
	margin: 0.5rem auto;
	
	background-position	: center;
    background-repeat	: no-repeat;
    background-size		: contain;
}

.item-head .circle{
	width : 0.5rem;
	height : 0.5rem;
	background: #DADFE1;
	border-radius: 0.5rem;
	margin: 1.5rem 0.5rem;
	margin-top: 3rem;
}
				
.btn-show-items{
	color : #00F;
	font-weight: bold;
}

@media (max-width: 720px){
	.me-icon{
		height 	: 40%;
		width	: 50%;
	}

}



