@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

.main{
	width : 80%;
	margin: 0px auto;	
}

.main-introduce{
	max-width: 70%;
	margin : 0px auto;
	margin-top: 80px; 
	text-align: center;
} 

.main-introduce-name{
	font-size: 1rem;
}

.main-introduce-desc{
	font-size: 0.7rem;
}

.me-icon{
	width : 30%;
	height: 30%;
	margin: 20px auto;
	
	background-position	: center;
    background-repeat	: no-repeat;
    background-size		: contain;
}

.main-items-title {
	margin-top: 200px;
}

.main-items-title h1{
	font-size: 3rem;
}

.main-items{
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
}   

.item{
	flex : 1 33%;
	height : 300px;
	position: relative;
	cursor: pointer;
}

.item-desc{
	position: relative;
	height: 100%;
	width : 100%;
	opacity: 0;
}

.item-desc.fade-in{
	animation: fadein 1s 1;
	animation-fill-mode: forwards;
}

.item-desc.fade-out{
	animation: fadeout 0.5s 1;
	animation-fill-mode: forwards;
}

.item-desc a{
	position: absolute;
	bottom: 0px;
	left : 0px;
	right : 0px;
	word-break : break-all;
	padding : 20px;
	background: rgba(0, 0, 0, 1);
	color: #EEE;
	font-size: 10px;
}

.item-bg{
    background-size: cover;
	position: absolute;
	top 	: 0px;
	bottom 	: 0px;
	left 	: 0px;
	right 	: 0px;
	opacity : 0.6;
}
