@media (max-width: 720px){
	.main-introduce{
		margin-top: 150px;
	}
	
	.me-icon{
		width : 80%;
		heigt : 80%;
	}
	
	.main-items-title{
		margin-top: 150px;
	}
	
	.item{
		flex : 1 100%;
		height : 200px;
	}
	
}