.main{
	width : 90%;
	margin: 0px auto;	
}

.main-introduce{
	max-width: 70%;
	margin : 0px auto;
	margin-top: 5rem; 
	text-align: center;
} 

.main-introduce-name{
	font-size: 0.9rem;
	margin-bottom: 1rem;
}

.main-introduce-desc{
	font-size: 0.7rem;
	line-height: 1rem;
}

.me-icon{
	width : 30%;
	height: 30%;
	margin: 1rem auto;
	
	background-position	: center;
    background-repeat	: no-repeat;
    background-size		: contain;
}

.btn-show-items{
	color : #00F;
	font-weight: bold;
}

.main-items-title {
	margin-top: 10rem;
}

.main-items-title h1{
	font-size: 3rem;
}

.main-items{
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
}   

.item-desc{
}

.item-view{
	width : 33%;
	border: 1px solid #EEE;
	background: #FFF;
	cursor: pointer;
	overflow: hidden;
	position: relative;
	opacity: 0.8;
}

.item-view:hover > .item-snapsht{
	transform: scale(1.1);
	transition: all .5s;
}

.item-snapsht{
	height : 100%;
	width  : 100%;
	background-position	: center;
    background-repeat	: no-repeat;
    background-size		: cover;
    overflow: hidden;
}

.item-snapsht::before {
	content: "";
	display: none;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

.item-view:hover .item-snapsht:before,
.item-view:focus .item-snapsht:before {
	display: block;
}

.item-view .item-info{
	color: white; /* Good thing we set a fallback color! */
	padding: 25% 15%;
	width : 50%;
	height: 10%;
	overflow : hidden;
	word-break : break-all;
	position: absolute;
}

.item-view:hover .item-info{
	display: block;
}

.item-info .item-desc{
	font-size: 0.7rem;
}
