@media (max-width: 800px){
	.main-introduce{
		margin-top: 100px;
	}
	
	.main-introduce-name{
		font-size: 10px;
	}
	
	.main-introduce-desc{
		font-size: 10px;
	}
	
	.me-icon{
		width : 60%;
		heigt : 60%;
	}
	
	.main-items-title{
		margin-top: 150px;
	}
	
	.main-items-title h1{
	font-size: 20px;
	}
	
	.item{
		flex : 1 100%;
		height : 200px;
	}
	
}