@media (max-width: 720px){
	.main-introduce{
		margin-top: 12rem;
	}
	
	.me-icon{
		width : 80%;
		heigt : 80%;
	}
	
	.main-items-title{
		margin-top: 15rem;
	}
	
	.item-view{
		flex : 1 100%;
		opacity: 0.7
	}
	
}