.item-detail {
	width : 80%;
	margin : 0px auto;
	margin-top: 3rem;
}

.item-head {
	position: relative;
}

.item-name{
	display: inline-block;
	margin-right: 5px;
}

.item-subinfo{
	position: absolute;
	right : 0px;
	bottom : 0px;
	color: #666;
	font-size: 0.5rem;
	line-height : 1rem;
	text-align: right;
}

.item-line{
	background: #DDD;
	height : 1px;
	margin: 0.5rem 0;
}


.item-content {
	position : relative;
	margin-top: 1.5rem;
	font-size: 0.8rem;
	padding : 1rem;
	background: #FFF;
	color : #444;
	border: 0.5px solid #DDD;
	min-height: 100%;
}

.item-snapsht{
	width : 360px;
	margin-bottom: 1rem;
}

.item-content h1, h2, h3{
	margin: 0.5rem 0px;
}

.item-content p{
	margin : 0.3rem 0;
	line-height: 1.3rem;
}

.item-content img{
	height : auto;
}

.item-content code {
	overflow-x: auto;
	margin: 1rem 0.1rem;
	border: 1px solid #DDD;
}

.item-subinfo2 {
	display : flex;
	justify-content: space-between;
	font-size: 0.7rem;
}

.item-source{
	font-weight: bold;
}

.btn-item-before{
	position : fixed;
	top : 50%;
	left : 1.5rem;
	width: 3%;
	height: 3%;
	background-position	: center;
    background-repeat	: no-repeat;
    background-size		: contain;
}

.btn-item-next{
	position : fixed;
	top : 50%;
	right : 1.5rem;
	width: 3%;
	height: 3%;
	background-position	: center;
    background-repeat	: no-repeat;
    background-size		: contain;
}

.wrap-comment {
	border: 1px solid #DDD;
	background: #FFF;
	margin-top: 1rem;
	padding: 1rem;
}

.comment-item {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	padding: 0.5rem;
	border-bottom: 1px solid #F0F0F0;
}

.comment {
	flex: 1;
}

.comment .comment-writer {
	color: #00D;
	font-size: 0.7rem;
}

.comment .comment-date {
	color: #777;
	font-size: 0.5rem;
}

.comment .comment-contents {
	color: #444;
	font-size: 0.6rem;
	padding-top : 0.5rem;
	word-break:break-all;
	word-wrap:break-word;
}

.comment-menu {
	font-size: 0.6rem;
	width: 5rem;
	color: #444;
	text-align: center;
}

.comment-menu a {
	margin-left: 0.5rem;
}

.comt-pager {
	margin: 1rem;
	text-align: center;
}

.comment-write {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	margin: 1rem 0.5rem;
	margin-top: 2rem;
	height: 3rem;
}

.comment-write-pinfo {
	display: flex;
	flex-flow: column nowrap;
	width: 5rem;
	height: 100%;
	margin-right: 0.5rem;
}

.comment-write-pinfo input {
	width: 100%;
	height: 1rem;
	font-size: 0.5rem;
	margin-bottom: 0.2rem;
}

.comment-write-contents {
	flex: 1;
	height: 100%;
	resize: none;
}

.comment-write-submit {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #FFF;
	width: 5rem;
	height: 100%;
	background: #666;
	cursor: pointer;
	font-size: 0.7rem;
}
		
@media (max-width: 420px){
	.item-detail {
		width : 90%;
		margin-top: 3rem;
	}
}