.item-detail {
	width : 80%;
	margin : 0px auto;
	margin-top: 3rem;
}

.item-head {
	position: relative;
}

.item-name{
	display: inline-block;
	margin-right: 5px;
}

.item-subinfo{
	position: absolute;
	right : 0px;
	bottom : 0px;
	color: #666;
	font-size: 0.5rem;
	line-height : 1rem;
	text-align: right;
}

.item-line{
	background: #DDD;
	height : 1px;
	margin: 0.5rem 0;
}


.item-content {
	position : relative;
	margin-top: 1.5rem;
	padding : 1rem;
	background: #FFF;
	border: 0.5px solid #DDD;
	min-height: 100%;
}

.item-snapsht{
	width : 360px;
	margin-bottom: 1rem;
}

.item-subinfo2 {
	display : flex;
	justify-content: space-between;
	font-size: 0.7rem;
}

.item-source{
	font-weight: bold;
}

.btn-item-before{
	position : fixed;
	top : 50%;
	left : 1.5rem;
	width: 3%;
	height: 3%;
	background-position	: center;
    background-repeat	: no-repeat;
    background-size		: contain;
}

.btn-item-next{
	position : fixed;
	top : 50%;
	right : 1.5rem;
	width: 3%;
	height: 3%;
	background-position	: center;
    background-repeat	: no-repeat;
    background-size		: contain;
}


@media (max-width: 420px){
	.item-detail {
		width : 90%;
		margin-top: 3rem;
	}
}