.wrap-study {
	width: 80%;
	margin: 0px auto;
	margin-top: 3rem;
	margin-bottom: 10rem;
	
	min-height : calc(100% - 50px);
}

.study .study-head{
	border-bottom: 1px solid #DDD;
	margin-bottom: 1.5rem;
}

.study .study-head .study-sect {
	margin-bottom: 0.5rem;
	color : #F67;
	text-align: center;
	font-weight: bold;
}

.study .study-head .study-title {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 0.8rem;
	text-align: center;
}

.study .study-head .study-info {
	display : flex;
	flex-flow : row nowrap;
	justify-content : center;
	font-size: .75rem;
	padding: 0 0.1rem;
}

.study .study-head .study-info div{
	margin-right: 0.5rem;
}

.study .study-head .study-submenu {
	text-align: right;
	font-size: .75rem;
	margin-bottom: 0.5rem;
	margin-top: 1rem;
}

.study .study-head .study-submenu .btn {
	padding-left: 1rem;
}

.study .study-contents {
	margin-top: 1.5rem;
	margin-bottom : 4rem;
}

.study-files {
	margin-top: 1rem;
}

.study-file-button{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	
	color: #F67;
	margin-bottom		: 0.5rem;
	font-weight: bold;
}

.study-file-button .icon{
	background-position : center;
	background-repeat: no-repeat;
	background-size: contain;

	height 	: 0.75rem;
	width	: 0.75rem;
	margin-right: 0.3rem;	
}

.file-list{
	font-size: 0.8rem;
}

.file-item {
    margin: 0.2rem 0rem;
    text-align: right;
   	color: #34F;
}

.file-item a{
	cursor: pointer;
}

.colum-border{
	width : 1px;
   	background : #DDD;
}

@media ( max-width : 720px) {
	.wrap-study {
		width: 90%;
	}
}