.wrap-study {
	max-width: var(--content-max-width);
	min-height : calc(100% - var(--nav-height));
	margin: 0px auto;
	margin-bottom: 150px;
}

.study-head{
	margin: 150px 0;
}

.study-head .study-category {
	margin-bottom: 15px;
	text-align: center;
	font-weight: bold;
	color : #ec5621;
	cursor: pointer;
}

.study-head .study-title {
	font-size: 2.5rem;
	margin-bottom: 15px;
	text-align: center;
	
	word-break: keep-all;
	word-wrap: break-word;
}

.study-head .study-info {
	display : flex;
	flex-flow : row nowrap;
	justify-content : center;
	align-items : center;
	font-size: 0.75rem;
	padding: 0 2px;
	color : #9199A4;
}

.colum-border{
	width : 1px;
	height: 0.5rem;
   	background : #DDD;
}

.study-head .study-info div{
	margin-right: 7px;
}

.study-sub{
    border-top: 1px solid #9199a4;
    border-bottom: 1px solid #ecf0f5;
    padding : 8px 0;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.study-files {
	flex : 1;
	display: flex;
	flex-flow : row wrap;
}

.file-item {
   	cursor: pointer;
   	display: flex;
  	padding : 2px 3px;
  	margin-right: 2px;
  	color : #142fff;
}

.file-item .name{
	max-width : 7rem;
	text-overflow: ellipsis;
   	overflow: hidden;
   	white-space: nowrap;
}

.study-sub .study-submenus {
	display : flex;
	flex-flow : row nowrap;
	font-size: 0.9rem;
}

.study-sub .study-submenus .submenu {
	margin-left: 10px;
	cursor: pointer;
}

.study-contents {
	margin-top: 50px;
}


@media ( max-width : 800px) {
	.wrap-study {
		width: 90%;
	}
	
	.study-head{
		margin: 90px 0;
	}

}