.wrap-upload-form{
	width :	90%;
	margin : 0 auto;
	margin-top : 20px;
	margin-bottom: 150px;
}

.upload-title{
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom : 30px;
	margin-left	: 10px;	
}

.upload-form {
	width : 100%;
}

.study-upload-item{
	display: flex;
	flex-flow : row nowrap;
	margin-bottom : 10px;
}

.study-upload-item .item-name{
	width : 10rem;
	font-weight: bold;
}

.study-upload-item .item-input{
	flex : 1;
}

.study-upload-item .item-input input[type='text']{
	padding : 2px;
	width : 50%;
}

.study-type {
	padding: 2px;
}

.study-submit{
	text-align: right;
}