.wrap-upload-form{
	max-width: var(--content-max-width);
	margin : 0 auto;
	margin-top : 20px;
	margin-bottom: 150px;
}

.upload-title{
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom : 30px;
	margin-left	: 10px;	
}

.upload-form {
	width : 100%;
}

.study-upload-item{
	display: flex;
	flex-flow : row nowrap;
	margin-bottom : 15px;
}

.study-upload-item .item-name{
	width : 150px;
	font-weight: bold;
	padding-top : 1px;
}

.study-upload-item .item-input{
	flex : 1;
}

.study-upload-item .item-input input[type='text']{
	width : 50%;
	padding : 1px 3px;
}

.study-type {
	padding: 2px;
}

.study-submit{
	text-align: right;
}

@media ( max-width : 800px) {
	.wrap-upload-form {
		width: 90%;
		margin: 0 auto;
		margin-top: 20px;
		margin-bottom: 150px;
	}
	
	.study-upload-item {
		flex-flow: column nowrap;
	}
	
	.study-upload-item .item-name {
		margin-bottom: 3px;
	}
	
	.study-upload-item .item-input input[type='text'] {
		width: 100%;
		border: 1px solid #CCC;
	}
}