.wrap-study {
	width: 80%;
	margin: 0px auto;
	margin-bottom: 10rem;
	
	min-height : calc(100% - 50px);
}

.study-head{
	margin: 5rem 0;
}

.study-head .study-sect {
	margin-bottom: 1rem;
	text-align: center;
	font-weight: bold;
	color : #ec5621;
}

.study-head .study-title {
	font-size: 2.25rem;
	margin-bottom: 1rem;
	text-align: center;
	
	word-break: keep-all;
	word-wrap: break-word;
}

.study-head .study-info {
	display : flex;
	flex-flow : row nowrap;
	justify-content : center;
	font-size: .75rem;
	padding: 0 0.1rem;
	color : #9199A4;
}

.study-head .study-info div{
	margin-right: 0.5rem;
}

.study-sub{
    border-top: 1px solid #9199a4;
    border-bottom: 1px solid #ecf0f5;
    padding : 0.75rem 0;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.study-files {
	flex : 1;
	display: flex;
	flex-flow : row wrap;
}

.file-item {
   	cursor: pointer;
   	display: flex;
   	
  	padding : 2px 3px;
  	margin-right: 2px;
  	color : #142fff;
  	font-size: 0.75rem;
}

.file-item .name{
	width : 7rem;
	text-overflow: ellipsis;
   	overflow: hidden;
   	white-space: nowrap;
}

.study-sub .study-submenu {
	display : flex;
	flex-flow : row nowrap;
	font-size: 0.75rem;
}

.study-sub .study-submenu .btn {
	padding-left: 1rem;
}

.study-contents {
	margin-top: 5rem;
	margin-bottom : 4rem;
}


@media ( max-width : 720px) {
	.wrap-study {
		width: 90%;
	}
}