<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cglee079.changoos.mapper.ProjectMapper">
	<resultMap type="ProjectVo" id="projectResultMap">
		<id property="seq" column="PROJ_SEQ"/>
		<result property="thumbnail" column="PROJ_THUMB"/>
		<result property="title" column="PROJ_TITLE"/>
		<result property="subtitle" column="PROJ_SUBTITLE"/>
		<result property="desc" column="PROJ_DESC"/>
		<result property="contents" column="PROJ_CONTENTS"/>
		<result property="sourcecode" column="PROJ_SOURCECD"/>
		<result property="developer" column="PROJ_DEVELOPER"/>
		<result property="hits" column="PROJ_HITS"/>
		<result property="enabled" column="PROJ_ENABLED"/>
		<result property="comtCnt" column="comtCnt" />
		
		<collection property="images" ofType="BoardImageVo">
			<id property="seq" column="IMG_SEQ" />
			<result property="editorID" column="EDITOR_ID"/>
			<result property="pathname" column="IMG_PATHNM"/>
			<result property="filename" column="IMG_FILENM"/>
		</collection>
		
		<collection property="files" ofType="BoardFileVo">
			<id property="seq" column="FILE_SEQ"/>
			<result property="pathname" column="FILE_PATHNM"/>
			<result property="filename" column="FILE_FILENM"/>
			<result property="size" column="FILE_SIZE"/>
		</collection>
	</resultMap>
	
	<select id="get" resultMap="projectResultMap" parameterType="Integer">
		SELECT
			A.*,
			B.*,
			C.*,
			D.comtCnt
		FROM 
			TB_CHANGOOS_PROJECT A 
			LEFT JOIN TB_CHANGOOS_PROJECT_IMAGE B ON PROJ_SEQ = B.BOARD_SEQ
			LEFT JOIN TB_CHANGOOS_PROJECT_FILE C ON PROJ_SEQ = C.BOARD_SEQ
			LEFT JOIN 
			(SELECT BOARD_SEQ, COUNT(COMT_SEQ) as 'comtCnt'
			FROM TB_CHANGOOS_PROJECT_COMT
			WHERE COMT_ENABLED = true
			GROUP BY BOARD_SEQ) D
			ON PROJ_SEQ = D.BOARD_SEQ
		WHERE 
			PROJ_SEQ = #{seq}
	</select>
	
	<select id="list" resultMap="projectResultMap">
		SELECT
			A.*,
			B.comtCnt
		FROM 
			TB_CHANGOOS_PROJECT A 
			LEFT JOIN 
			(SELECT BOARD_SEQ, COUNT(COMT_SEQ) as 'comtCnt'
			FROM TB_CHANGOOS_PROJECT_COMT
			WHERE COMT_ENABLED = true
			GROUP BY BOARD_SEQ) B
			ON PROJ_SEQ = B.BOARD_SEQ
		<trim prefix="WHERE" prefixOverrides="AND |OR "> 
		<if test="enabled != null">
 		AND PROJ_ENABLED = #{enabled}
  		</if>
  		</trim>
		<choose>
		<when test="sort == 'seq'"> 	ORDER BY PROJ_SEQ ${order} </when>
		<when test="sort == 'title'"> 	ORDER BY PROJ_TITLE ${order} </when>
		<when test="sort == 'subtitle'">ORDER BY PROJ_SUBTITLE ${order} </when>
		<when test="sort == 'developer'">ORDER BY PROJ_DEVELOPER ${order} </when>
		<when test="sort == 'sourcecode'">ORDER BY PROJ_SOURCECD ${order} </when>
		<when test="sort == 'hits'">	ORDER BY PROJ_HITS ${order} </when>
		<when test="sort == 'comtCnt'"> ORDER BY comtCnt ${order} </when>
		<otherwise>
		ORDER BY PROJ_SEQ DESC
		</otherwise>
		</choose>
	</select>
	
	<select id="getBefore" resultMap="projectResultMap" parameterType="Integer">
		SELECT
			A.*
		FROM 
			TB_CHANGOOS_PROJECT A 
		WHERE <![CDATA[PROJ_SEQ > #{seq}]]> 
		ORDER BY PROJ_SEQ ASC
		LIMIT 1
	</select>
	
	<select id="getAfter" resultMap="projectResultMap" parameterType="Integer">
		SELECT
			A.*
		FROM 
			TB_CHANGOOS_PROJECT A 
		WHERE <![CDATA[PROJ_SEQ < #{seq}]]> 
		ORDER BY PROJ_SEQ DESC
		LIMIT 1
	</select>
	
	<delete id="delete">
		DELETE FROM TB_CHANGOOS_PROJECT
		WHERE PROJ_SEQ = #{seq}
	</delete>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="seq" parameterType="com.cglee079.changoos.model.ProjectVo">
		INSERT TB_CHANGOOS_PROJECT (
			PROJ_TITLE, 
			PROJ_SUBTITLE, 
			PROJ_DESC, 
			PROJ_CONTENTS,
			PROJ_THUMB, 
			PROJ_SOURCECD, 
			PROJ_DEVELOPER, 
			PROJ_HITS, 
			PROJ_ENABLED
		)
		VALUES (
			#{title},
			#{subtitle}, 
			#{desc}, 
			#{contents},
			#{thumbnail},
			#{sourcecode},
			#{developer},
			#{hits},
			#{enabled}
		)
	</insert>
	
	<update id="update">
		UPDATE TB_CHANGOOS_PROJECT
		SET 
		PROJ_TITLE = #{title},
		PROJ_SUBTITLE = #{subtitle},
		PROJ_DESC = #{desc},
		PROJ_CONTENTS = #{contents},
		PROJ_THUMB = #{thumbnail},
		PROJ_SOURCECD = #{sourcecode},
		PROJ_DEVELOPER = #{developer},
		PROJ_HITS = #{hits},
		PROJ_ENABLED = #{enabled}
		WHERE PROJ_SEQ = #{seq}
	</update>
	
	
</mapper>