<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cglee079.portfolio.mapper.BComtMapper">
	
	<select id="count" resultType="Integer">
		SELECT
			count(*)
		FROM TB_PTFOLIO_BCOMTS
		WHERE 1=1
		AND BCOMT_BOARD_SEQ = #{boardSeq} 
	</select>
	
	<select id="list" resultType="com.cglee079.portfolio.model.ComtVo" parameterType="map">
		SELECT
		BCOMT_SEQ as "seq",
		BCOMT_BOARD_SEQ as "boardSeq",
		BCOMT_NAME as "name",
		BCOMT_PWD as "password",
		BCOMT_CONTENTS as "contents",
		BCOMT_DATE as "date",
		BCOMT_PARENT_SEQ as "parentSeq"
		FROM TB_PTFOLIO_BCOMTS
		WHERE 1=1
		AND BCOMT_BOARD_SEQ = #{boardSeq}
		ORDER BY BCOMT_DATE
		LIMIT #{startRow}, #{perPgLine}
	</select>
	
	<select id="get" resultType="com.cglee079.portfolio.model.ComtVo" parameterType="Integer">
		SELECT
		BCOMT_SEQ as "seq",
		BCOMT_BOARD_SEQ as "boardSeq",
		BCOMT_NAME as "name",
		BCOMT_PWD as "password",
		BCOMT_CONTENTS as "contents",
		BCOMT_DATE as "DATE",
		BCOMT_PARENT_SEQ as "parentSeq"
		FROM TB_PTFOLIO_BCOMTS
		WHERE BCOMT_SEQ = #{seq}
	</select>
	
	<insert id="insert">
		INSERT TB_PTFOLIO_BCOMTS 
		(BCOMT_BOARD_SEQ, BCOMT_NAME, BCOMT_PWD, BCOMT_CONTENTS, BCOMT_DATE, BCOMT_PARENT_SEQ)
		VALUES (#{boardSeq}, #{name}, #{password}, #{contents}, #{date}, #{parentSeq});
	</insert>
	
	<delete id="delete">
		DELETE FROM TB_PTFOLIO_BCOMTS
		WHERE BCOMT_SEQ = #{seq}
	</delete>
	
	<update id="update" parameterType="map">
		UPDATE TB_PTFOLIO_BCOMTS
		SET 
		BCOMT_CONTENTS = #{contents}
		WHERE BCOMT_SEQ = #{seq}
	</update>
	
</mapper>