<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cglee079.portfolio.mapper.BoardFileMapper">
	
	<select id="count" resultType="Integer">
	</select>
	
	<select id="list" resultType="com.cglee079.portfolio.model.BoardFileVo" parameterType="Integer">
		SELECT 
		FILE_SEQ as 'seq',
		FILE_BOARD_SEQ as 'boardSeq',
		FILE_REAL_NM as 'realNm',
		FILE_PATH_NM as 'pathNm',
		FILE_SIZE	 as 'size'
		FROM TB_PTFOLIO_BOARD_FILES
		WHERE 1 = 1 
		AND FILE_BOARD_SEQ = #{boardSeq}
	</select>
	
	<select id="get" resultType="com.cglee079.portfolio.model.BoardFileVo" parameterType="map">
		SELECT 
		FILE_SEQ as 'seq',
		FILE_BOARD_SEQ as 'boardSeq',
		FILE_REAL_NM as 'realNm',
		FILE_PATH_NM as 'pathNm',
		FILE_SIZE	 as 'size'
		FROM TB_PTFOLIO_BOARD_FILES
		WHERE 1 = 1
		AND FILE_PATH_NM = #{pathNm} 
	</select>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="seq" parameterType="com.cglee079.portfolio.model.BoardFileVo">
		INSERT TB_PTFOLIO_BOARD_FILES 
		(FILE_BOARD_SEQ, FILE_PATH_NM, FILE_REAL_NM, FILE_SIZE)
		VALUES (#{boardSeq}, #{pathNm}, #{realNm}, #{size})
	</insert>
	
</mapper>