<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cglee079.portfolio.mapper.BoardMapper">
	
	<select id="count" resultType="Integer" parameterType="map">
		SELECT
			count(*)
		FROM TB_PTFOLIO_BOARDS
		WHERE 1 = 1
		<if test="type != null">
		AND BOARD_TYPE = #{type}
		</if>
		<if test="searchType == 'SECT' and searchValue != ''">
 		<![CDATA[AND UPPER(BOARD_SECT) LIKE CONCAT('%', UPPER(#{searchValue}), '%')]]>
  		</if>
  		<if test="searchType == 'TITLE' and searchValue != ''">
 		<![CDATA[AND UPPER(BOARD_TITLE) LIKE CONCAT('%', UPPER(#{searchValue}), '%')]]>
  		</if>
	</select>
	
	<select id="list" resultType="com.cglee079.portfolio.model.BoardVo" parameterType="map">
		SELECT
		BOARD_SEQ as "seq",
		BOARD_SORT as "sort",
		BOARD_TYPE as "type",
		BOARD_SECT as "sect",
		BOARD_TITLE as "title",
		BOARD_CONTENTS as "contents",
		BOARD_DATE as "date",
		BOARD_HITS as "hits"
		FROM TB_PTFOLIO_BOARDS
		WHERE 1 = 1 
		AND BOARD_TYPE = #{type}
		<if test="searchType == 'SECT' and searchValue != ''">
 		<![CDATA[AND UPPER(BOARD_SECT) LIKE CONCAT('%', UPPER(#{searchValue}), '%')]]>
  		</if>
  		<if test="searchType == 'TITLE' and searchValue != ''">
 		<![CDATA[AND UPPER(BOARD_TITLE) LIKE CONCAT('%', UPPER(#{searchValue}), '%')]]>
  		</if>
		ORDER BY BOARD_SORT, BOARD_DATE DESC, BOARD_SEQ DESC
		<if test="startRow != null and perPgLine != null">
 		LIMIT #{startRow}, #{perPgLine}
  		</if>
		
	</select>
	
	<select id="get" resultType="com.cglee079.portfolio.model.BoardVo" parameterType="Integer">
		SELECT
		BOARD_SEQ as "seq",
		BOARD_SORT as "sort",
		BOARD_TYPE as "type",
		BOARD_SECT as "sect",
		BOARD_TITLE as "title",
		BOARD_CONTENTS as "contents",
		BOARD_DATE as "date",
		BOARD_HITS as "hits"
		FROM TB_PTFOLIO_BOARDS
		WHERE BOARD_SEQ = #{seq}
	</select>
	
	<select id="getBefore" parameterType="map" resultType="com.cglee079.portfolio.model.BoardVo">
		SELECT 
		BOARD_SEQ as "seq",
		BOARD_SORT as "sort",
		BOARD_TYPE as "type",
		BOARD_SECT as "sect",
		BOARD_TITLE as "title",
		BOARD_CONTENTS as "contents",
		BOARD_DATE as "date",
		BOARD_HITS as "hits"
		FROM TB_PTFOLIO_BOARDS B 
		WHERE <![CDATA[BOARD_SEQ < #{seq}]]>  
		AND BOARD_TYPE = #{type} 
		ORDER BY BOARD_SEQ DESC LIMIT 1
	</select>
	
	<select id="getAfter" parameterType="map" resultType="com.cglee079.portfolio.model.BoardVo">
		SELECT 
		BOARD_SEQ as "seq",
		BOARD_SORT as "sort",
		BOARD_TYPE as "type",
		BOARD_SECT as "sect",
		BOARD_TITLE as "title",
		BOARD_CONTENTS as "contents",
		BOARD_DATE as "date",
		BOARD_HITS as "hits"
		FROM TB_PTFOLIO_BOARDS
		WHERE <![CDATA[BOARD_SEQ > #{seq}]]>
		AND BOARD_TYPE = #{type} 
		ORDER BY BOARD_SEQ ASC LIMIT 1
	</select>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="seq" >
		INSERT TB_PTFOLIO_BOARDS 
		(BOARD_SORT, BOARD_TYPE, BOARD_SECT, BOARD_TITLE, BOARD_CONTENTS, BOARD_DATE, BOARD_HITS)
		VALUES (#{sort}, #{type}, #{sect}, #{title}, #{contents}, #{date}, #{hits})
	</insert>
	
	<delete id="delete">
		DELETE FROM TB_PTFOLIO_BOARDS
		WHERE BOARD_SEQ = #{seq}
	</delete>
	
	<update id="update">
		UPDATE TB_PTFOLIO_BOARDS
		SET 
		BOARD_SORT = #{sort},
		BOARD_TYPE = #{type},
		BOARD_SECT = #{sect},
		BOARD_TITLE = #{title},
		BOARD_CONTENTS = #{contents},
		BOARD_DATE = #{date},
		BOARD_HITS = #{hits}
		WHERE BOARD_SEQ = #{seq}
	</update>
	
</mapper>