<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cglee079.portfolio.mapper.ComtMapper">
	
	<select id="count" resultType="Integer">
		SELECT
			count(*)
		FROM TB_PTFOLIO_COMTS
		WHERE 1=1
		AND COMT_PARNT_SEQ = #{parentSeq} 
	</select>
	
	<select id="list" resultType="com.cglee079.portfolio.model.ComtVo" parameterType="map">
		SELECT
		COMT_SEQ as "seq",
		COMT_PARNT_SEQ as "boardSeq",
		COMT_NAME as "name",
		COMT_PWD as "password",
		COMT_CONTENTS as "contents",
		COMT_DATE as "DATE",
		COMT_DEPTH as "depth"
		FROM TB_PTFOLIO_COMTS
		WHERE 1=1
		AND COMT_PARNT_SEQ = #{parentSeq}
		ORDER BY COMT_DATE
		LIMIT #{startRow}, #{perPgLine}
	</select>
	
	<select id="get" resultType="com.cglee079.portfolio.model.ComtVo" parameterType="Integer">
		SELECT
		COMT_SEQ as "seq",
		COMT_PARNT_SEQ as "boardSeq",
		COMT_NAME as "name",
		COMT_PWD as "password",
		COMT_CONTENTS as "contents",
		COMT_DATE as "DATE",
		COMT_DEPTH as "depth"
		FROM TB_PTFOLIO_COMTS
		WHERE COMT_SEQ = #{seq}
	</select>
	
	<insert id="insert">
		INSERT TB_PTFOLIO_COMTS 
		(COMT_PARNT_SEQ, COMT_NAME, COMT_PWD, COMT_CONTENTS, COMT_DATE, COMT_DEPTH)
		VALUES (#{parentSeq}, #{name}, #{password}, #{contents}, #{date}, #{depth});
	</insert>
	
	<delete id="delete">
		DELETE FROM TB_PTFOLIO_COMTS
		WHERE COMT_SEQ = #{seq}
	</delete>
	
	<update id="update" parameterType="map">
		UPDATE TB_PTFOLIO_COMTS
		SET 
		COMT_CONTENTS = #{contents}
		WHERE COMT_SEQ = #{seq}
	</update>
	
</mapper>