<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cglee079.portfolio.mapper.ItemMapper">
	<select id="list" resultType="com.cglee079.portfolio.model.ItemVo">
		SELECT
		ITM_SEQ as "seq",
		ITM_SORT as "sort",
		ITM_NAME as "name",
		ITM_SECT as "sect",
		ITM_DESC as "desc",
		ITM_SNAPSHT as "snapsht",
		ITM_HASVIDEO as "video",
		ITM_DATE as "date",
		ITM_SOURCECD as "sourcecode",
		ITM_DEVELOPER as "developer",
		ITM_HITS as "hits"
		FROM TB_PTFOLIO_ITEMS
		ORDER BY ITM_SORT
	</select>
	
	<select id="get" resultType="com.cglee079.portfolio.model.ItemVo" parameterType="Integer">
		SELECT
		ITM_SEQ as "seq",
		ITM_SORT as "sort",
		ITM_NAME as "name",
		ITM_SECT as "sect",
		ITM_DESC as "desc",
		ITM_CONTENT as "content",
		ITM_SNAPSHT as "snapsht",
		ITM_HASVIDEO as "video",
		ITM_DATE as "date",
		ITM_SOURCECD as "sourcecode",
		ITM_DEVELOPER as "developer",
		ITM_HITS as "hits"
		FROM TB_PTFOLIO_ITEMS
		WHERE ITM_SEQ = #{seq}
	</select>
	
	<select id="getBefore" resultType="com.cglee079.portfolio.model.ItemVo" parameterType="Integer">
		SELECT
		ITM_SEQ as "seq",
		ITM_SORT as "sort",
		ITM_NAME as "name",
		ITM_SECT as "sect",
		ITM_DESC as "desc",
		ITM_CONTENT as "content",
		ITM_SNAPSHT as "snapsht",
		ITM_HASVIDEO as "video",
		ITM_DATE as "date",
		ITM_SOURCECD as "sourcecode",
		ITM_DEVELOPER as "developer",
		ITM_HITS as "hits"
		FROM TB_PTFOLIO_ITEMS
		WHERE <![CDATA[ITM_SORT < #{sort}]]> 
		ORDER BY ITM_SORT DESC LIMIT 1
	</select>
	
	<select id="getAfter" resultType="com.cglee079.portfolio.model.ItemVo" parameterType="Integer">
		SELECT
		ITM_SEQ as "seq",
		ITM_SORT as "sort",
		ITM_NAME as "name",
		ITM_SECT as "sect",
		ITM_DESC as "desc",
		ITM_CONTENT as "content",
		ITM_SNAPSHT as "snapsht",
		ITM_HASVIDEO as "video",
		ITM_DATE as "date",
		ITM_SOURCECD as "sourcecode",
		ITM_DEVELOPER as "developer",
		ITM_HITS as "hits"
		FROM TB_PTFOLIO_ITEMS
		WHERE <![CDATA[ITM_SORT > #{sort}]]> 
		ORDER BY ITM_SORT ASC LIMIT 1
	</select>
	
	<delete id="delete">
		DELETE FROM TB_PTFOLIO_ITEMS
		WHERE ITM_SEQ = #{seq}
	</delete>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="seq" parameterType="com.cglee079.portfolio.model.ItemVo">
		INSERT TB_PTFOLIO_ITEMS 
		(ITM_SORT, ITM_NAME, ITM_SECT, ITM_DESC, ITM_CONTENT, ITM_SNAPSHT, ITM_HASVIDEO, ITM_DATE, ITM_SOURCECD, ITM_DEVELOPER, ITM_HITS)
		VALUES (#{sort}, #{name}, #{sect}, #{desc}, #{content}, #{snapsht}, #{video}, #{date}, #{sourcecode},#{developer}, #{hits})
	</insert>
	
	<update id="update">
		UPDATE TB_PTFOLIO_ITEMS
		SET 
		ITM_SORT = #{sort},
		ITM_NAME = #{name},
		ITM_SECT = #{sect},
		ITM_DESC = #{desc},
		ITM_CONTENT = #{content},
		ITM_SNAPSHT = #{snapsht},
		ITM_HASVIDEO = #{video},
		ITM_DATE = #{date},
		ITM_SOURCECD = #{sourcecode},
		ITM_DEVELOPER = #{developer},
		ITM_HITS = #{hits}
		WHERE ITM_SEQ = #{seq}
	</update>
	
	
</mapper>