<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cglee079.portfolio.mapper.ItemMapper">
	<select id="list" resultType="com.cglee079.portfolio.model.ItemVo">
		SELECT
		ITM_SEQ as "seq",
		ITM_NAME as "name",
		ITM_SECT as "sect",
		ITM_DESC as "desc",
		ITM_CONTENT as "content",
		ITM_SNAPSHT as "snapsht",
		ITM_DATE as "date",
		ITM_GITURL as "gitURL",
		ITM_HASGIT as "git",
		ITM_DEVELOPER as "developer",
		ITM_HITS as "hits"
		FROM TB_PTFOLIO_ITEMS
	</select>
	
	<select id="get" resultType="com.cglee079.portfolio.model.ItemVo" parameterType="Integer">
		SELECT
		ITM_SEQ as "seq",
		ITM_NAME as "name",
		ITM_SECT as "sect",
		ITM_DESC as "desc",
		ITM_CONTENT as "content",
		ITM_SNAPSHT as "snapsht",
		ITM_DATE as "date",
		ITM_GITURL as "gitURL",
		ITM_HASGIT as "git",
		ITM_DEVELOPER as "developer",
		ITM_HITS as "hits"
		FROM TB_PTFOLIO_ITEMS
		WHERE ITM_SEQ = #{seq}
	</select>
	
	<delete id="delete">
		DELETE FROM TB_PTFOLIO_ITEMS
		WHERE ITM_SEQ = #{seq}
	</delete>
	
	<insert id="insert">
		INSERT TB_PTFOLIO_ITEMS 
		(ITM_NAME, ITM_SECT, ITM_DESC, ITM_CONTENT, ITM_SNAPSHT, ITM_DATE, ITM_GITURL, ITM_HASGIT, ITM_DEVELOPER, ITM_HITS)
		VALUES (#{name}, #{sect}, #{desc}, #{content}, #{snapsht}, #{date}, #{gitURL}, #{git}, #{developer}, #{hits})
	</insert>
	
	<update id="update">
		UPDATE TB_PTFOLIO_ITEMS
		SET 
		ITM_NAME = #{name},
		ITM_SECT = #{sect},
		ITM_DESC = #{desc},
		ITM_CONTENT = #{content},
		ITM_SNAPSHT = #{snapsht},
		ITM_DATE = #{date},
		ITM_GITURL = #{gitURL},
		ITM_HASGIT = #{git},
		ITM_DEVELOPER = #{developer},
		ITM_HITS = #{hits}
		WHERE ITM_SEQ = #{seq}
	</update>
	
	
</mapper>