.wrap-myinfo{
	display: flex;
	align-items: center;
}

.myinfo-view {
	width : 100%;
	margin : 0px auto;
	height : calc(100% - 150px);
	
	display : flex;
	flex-flow : row nowrap;
	background: #FFF;
	
	border-top : 1px solid #EEE;
	border-bottom : 1px solid #EEE;
}

.myinfo-view:first-child{
	margin-top: 1rem;
}

.circle-border {
	margin : 3rem 0;
}

.circle-border .circle{
	width : 0.5rem;
	height : 0.5rem;
	border-radius: 0.5rem;
	margin : 0 0.5rem;
	background: #CCC;
}
	

.content-picture{
	width : 55%;
	background-position	: center;
    background-repeat	: no-repeat;
    background-size		: cover;
}

.content-text{
	flex : 1;
	padding : 1.5rem 2rem;
	line-height: 1.3rem;
	font-size: 0.75rem;
	overflow-y : auto;
	-ms-overflow-style : none;
}

.content-text::-webkit-scrollbar{
	display: none;
}

.content-text > .content-head{
	margin-bottom: 1rem;
}

.btn-views{
	width : 100%;
	text-align: center;
	margin-top : 2rem;
}

.btn-view{
	display : inline-block;
	width : 20px;
	height: 20px;
	border-radius : 10px;
	background : #CCC;
	margin : 20px 10px 0px 10px;
	cursor : pointer;
}

.btn-view.on{
	background : #000;
}

.message-form{
	width : 90%;
}

.input-message{
	width : 100%;
	height: 20%;
	resize: none;
	border: 1px solid #CCC;
	border-radius : 3px;
	
	margin-top: 0.2rem;
	background: #FEFEFE;
}

.submit-message{
	text-align: right;
}

.submit-message .submit-btn{
	cursor : pointer;
	font-weight: bold;
}


@media (max-width: 720px){
	.myinfo-view{
		flex-flow : column nowrap;
		height : calc(100% - 50px);
	}
	
	.content-picture{
		width : 100%;
		height: 50%;
	}
	
	.content-text{
		width : auto;
	}
	
	.btn-view{
		width : 10px;
		height: 10px;
	}
}