.wrap-myinfo{
	background: #222;
	padding-bottom: 10rem;
}

.introduce{
	width	: 100%;
	height	: calc(100% - 50px);
	position: relative;
}

.introduce::after{ 
    content: '&nbsp;';
	display : block; 
}

.introduce-bg{
	position: absolute;
	left	: 0;
	top		: 0;
	right	: 0;
	bottom	: 0;		
	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left;
}

.introduce-text{
	position: absolute;
	right : 10%;
	bottom : 5%;
	max-width: 40%;
	cursor: default;
}

.introduce-text .introduce-head {
	color: #FFF;
	font-size : 3rem;
	font-weight: bold;
	transition: margin .3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.introduce-text .introduce-desc{
	color: #FFF;
	line-height : 1.7rem;
	font-size: 0.9rem;
}

.introduce-text:hover .introduce-head{
	margin-bottom: 1rem;
}


/**************/
/**** Spec ****/
/**************/
.spec{
	display : flex;
	margin-top : 5rem;
	margin-left: 5rem;
	background: #000;
	cursor : default;
}

.spec-image{
	width : 40%;
	background : #FFF;
	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	
	transition: width .3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.spec .spec-image:hover{
	width : 50%;
}

.spec-text{
	flex : 1;
	margin-left : 1rem;
	padding : 2rem;
}

.spec-text .spec-head{
	color : #FFF;
	font-size: 3rem;
	margin-bottom: 1rem;
	transition: margin .3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.spec-text:hover .spec-head{
	margin-left: 2rem;
}

.spec-text .spec-desc{
	color : #FFF;
	line-height : 1.7rem;
	font-size: 0.9rem;
}

/***************/
/** BioGraphy **/
/***************/
.biography{
	display : flex;
	margin-top	: 5rem;
	margin-right: 5rem;
	background: #000;
	cursor : default;
	
	height	: 60%;
}

.biography-image{
	width : 40%;
	background : #FFF;
	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	
	transition: width .3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.biography .biography-image:hover{
	width : 50%;
}

.biography-text{
	flex : 1;
	margin-left : 1rem;
	padding : 2rem;
}

.biography-text .biography-head{
	color : #FFF;
	font-size: 3rem;
	margin-bottom: 1rem;
	transition: margin .3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.biography-text:hover .biography-head{
	margin-left: 2rem;
}

.biography-text .biography-desc{
	color : #FFF;
	line-height : 1.7rem;
	font-size: 0.9rem;
}

.contact{
	width: 80%;
	margin : 0 auto;
	margin-top: 5rem;
}

.contact-head{
	font-size: 5rem;
	font-weight: bold;
	color : #FFF;
}

.contact-input-message {
	width : 100%;
}

.contact-input-message .input-message{
	background: #FFF;
	border: none;
	height: 40%;
	width : 100%;
	padding :1rem;
	margin-bottom: 1rem;
	resize: none;
	overflow: none;
	-ms-overflow-style : none;
}

.contact-input-message .input-message::-webkit-scrollbar{
	display: none;
}

.black-button{
	border: 1px solid #FFF;
	background : #000;
	color : #FFF;
	padding : 1rem 2rem;	
	font-weight : bold;
	cursor: pointer;
}

.black-button:hover{
	background: #FFF;
	color : #000;
}

@media (max-width: 720px){
	.introduce-text{
		right: 1rem;
		left : 1rem;
		max-width: none;
	}
	
	.introduce-text .introduce-head{
		margin-bottom: 1rem;
	}
	
	.spec{
		display: flex;
		flex-flow: column-reverse nowrap;
	}
	
	.spec-image{
		width: 100%;
		height: 30%;
	}
	
	.spec .spec-image:hover{
		width : 100%;
	}
	
	.biography{
		display: flex;
		flex-flow: column nowrap;
	}
	
	.biography-image{
		width: 100%;
		height: 40%;
	}
	
	.biography .biography-image:hover{
		width: 100%;
	}
	
	.contact{
		width : 90%;
	}
}
