.wrap-myinfo{
	height : 100%;
	margin-top: -1rem;
}

.myinfo-views{
	position : relative;
	width: 100%;
	height: 70%;
	overflow: hidden;
}

.myinfo-view {
	position: absolute;
	width : 100%;
	height: 100%;
	display : flex;
	flex-flow : row wrap;
	background: #FFF;
	border-top : 1px solid #EEE;
	border-bottom : 1px solid #EEE;
}

.myinfo-view00 {left: 0%;}
.myinfo-view01 {left: 100%; }
.myinfo-view02 {left: 100%; }
.myinfo-view03 {left: 100%; }

.content-picture{
	flex : 1;
	background-position	: center;
    background-repeat	: no-repeat;
    background-size		: cover;
}

.content-text{
	width : 40%;
	margin : 1.5rem 2rem;
	line-height: 1.3rem;
	font-size: 0.7rem;
}

.content-text > .content-head{
	margin-bottom: 1rem;
}

.btn-views{
	width : 100%;
	text-align: center;
	margin-top : 2rem;
}

.btn-view{
	display : inline-block;
	width : 20px;
	height: 20px;
	border-radius : 10px;
	background : #CCC;
	margin : 20px 10px 0px 10px;
	cursor : pointer;
}

.btn-view.on{
	background : #000;
}

.message-form{
	width : 17rem;
	height : 5rem;
}
.input-message{
	width : 100%;
	height: 100%;
	resize: none;
}

.submit-message{
	text-align: right;
}

.submit-message .submit-btn{
	cursor : pointer;
	font-weight: bold;
}


@media (max-width: 700px){
	.myinfo-view{
		flex-flow : column wrap;
		height: 100%;
	}
	
	.content-text{
		width: auto;
		height: 40%;
	}
	
	.btn-view{
		width : 10px;
		height: 10px;
	}
}