.wrap-photo-list {
	min-height : calc(100% - var(--nav-height));
	max-width: var(--section-width-wide);
	margin : 0 auto;
	margin-top : 15px;
	margin-bottom : 120px;
}

.photo-list {
	width : 50%;
	margin : 0 auto;
}

.photo-list::-webkit-scrollbar{
	display: none;
}

.photo-list-item {
	width : 100%;
	border: 0.8px solid #D9D9D9;
	padding: 1rem 0;
	margin-bottom: 15px;
	background: #FFF;
}

.photo-list-item .wp-photo-img{
	display : flex;
	justify-content : center;
	align-items : center;
	margin-bottom: 20px;
	margin: 20px 0 30px 0;
	height : 45%;
}

.photo-list-item .photo-img {
	max-width : 100%;
	max-height: 100%;
	display : block;
}

.photo-list-item .photo-sub {
	width: 80%;
	margin: 0px auto;
}

.photo-list-item .photo-sub>.photo-menu {
	display: flex;
	margin-bottom: 15px;
	align-items: center;
}

.photo-list-item .photo-sub>.photo-menu>.btn-photo-like, 
.photo-list-item .photo-sub>.photo-menu>.btn-photo-comment{
	margin-right: 5px;
	width: 1.5rem;
	height: 1.5rem;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.photo-list-item .photo-sub>.photo-detail {
	margin-bottom: 20px;
}

.photo-list-item .photo-detail>.photo-info {
	display: flex;
}

.photo-list-item .photo-detail>.photo-info>.photo-name {
	color: #000;
	font-size : 1.1rem;
	font-weight: bold;
}

.photo-list-item .photo-detail>.photo-info>.photo-like {
	display: flex;
    align-items: flex-end;
    margin-left: 5px;
    color: #F33;
}

.photo-list-item .photo-detail>.photo-info>.photo-date-loc {
	color: #555;
	display: flex;
	align-items: flex-end;
	margin-left: auto;
}

.photo-list-item .photo-detail>.photo-desc {
	width: 100%;
	overflow: hidden;
	color: #555;
	word-break: break-all;
	margin-top : 7px;
	min-height : 50px;
}

.photo-list-item .photo-detail>.photo-tag {
	display: flex;
	margin-top: 1rem;
	color: #33F;
}

.photo-loading{
	height: 5rem;
	color : #666;
}

.photo-comments {
	margin-bottom: 10px;
}

.photo-comments .comment {
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.7rem;
	font-size: 0.9rem;
}

.photo-comments .comment .comment-userinfo {
	width: 7rem;
	font-weight: bold;
	cursor: pointer;
}

.photo-comments .comment .comment-contents {
	flex: 1;
	max-width : calc(100% - 12rem);
	white-space: normal ;
	word-break : break-all;
	margin-right : 10px;
}

.photo-comments .comment .comment-date {
	margin-right : 10px;
	color : #888;
	
}

.photo-comments .comment .btn-comment-delete {
	cursor : pointer;
	opacity: 0.6;
}

.photo-comments .comment .btn-comment-delete:hover{
	opacity: 1;
}

.photo-write-comment {
	display: flex;
	margin-bottom: 10px;
}

.photo-write-comment.none {
	display: none;
}

.photo-write-comment .write-userinfo {
	width: 5rem;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-end;
}

.photo-write-comment .write-userinfo input {
	width: 100%;
	border: none;
	margin-bottom: 3px;
	font-size: 0.9rem;
}

.photo-write-comment .write-comment {
	flex: 1;
	margin-left: 10px;
}

.photo-write-comment .write-comment textarea {
	width: 100%;
	border: none;
	border-bottom: 0.7px solid #F1F1F1;
	resize: none;
	overflow: hidden;
	min-height: 2rem;
	padding: 1px 3px;
}

.photo-write-comment .btn-write {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-end;
	
	margin-left: 15px;
	margin-bottom : 10px;
	cursor: pointer;
}

@media ( max-width : 800px) {
	.wrap-photo-list{
		display: block;
		margin-top : 0px;
		margin-bottom: 0px;
	}
	
	.photo-list{
		background : #F9F9F9;
		width: 100%;
	}
	
	.photo-list-item:first-child{
		margin-top: 15px;
	}
	
	.photo-list-item{
		width : 100%;
		border : none;
	}
	
	.photo-list-item .wp-photo-img{
		height: 40%;
	}
	
	.photo-list-item .photo-sub {
		width: 90%;
	}

}