.menu-manage{
	margin : 1rem;
	margin-top: 30px;
	text-align: right;
}

.wrap-photo-list{
	width : 80%;
	margin : 0px auto;
	margin-top : 1rem;
	padding : 1rem;
	background: #FFF;
	border: 1px solid #DDD;
}

.project-list{
	width : 100%;
	font-size: 0.5rem;
}

.list-photo > div{
	padding: 0.5rem;
	border: 1px solid #DDD;
}

.list-photo{
	display: flex;
	flex-flow : row nowrap;
	justify-content : center;
}

.list-photo-header{font-weight: bold; text-align: center;}

.list-photo .photo-seq 	{width : 2rem; text-align: center;}
.list-photo .photo-sort	{width : 2rem; text-align: center;}
.list-photo .photo-title {flex : 1; min-width : 5rem; text-align: center; font-weight: bold;}
.list-photo .photo-img{width : 3rem; min-width: 3rem;}
.list-photo .photo-img img{width: auto; max-height: 1rem;}
.list-photo .photo-device {width:4rem;}
.list-photo .photo-loc {width:3rem;}
.list-photo .photo-date {width:3rem;}
.list-photo .photo-time {width:2rem;}
.list-photo .photo-modify {width : 2rem; text-align: center;}
.list-photo .photo-delete {width : 2rem; text-align: center;}
