#imageFile{
	display: none;
}

#snapshot{
	cursor : pointer;
	background: #EEE;
}

.wrap-upload-form{
	width : 90%;
	margin: 0px auto;
	margin-top : 20px;
	margin-bottom: 150px;
}

.upload-title{
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom : 30px;
	margin-left	: 10px;	
}

.upload-item{
	display : flex;
	flex-flow : row nowrap;
	margin-bottom: 15px;
}

.upload-item-name{
	width : 150px;
	font-weight: bold;
}

.upload-item-input{
	flex  : 1;
}

.upload-item-input input[type='text']{
	width : 50%;
	padding : 1px 3px;
}

.photo-submit{
	text-align: right;
}

@media ( max-width : 800px) {
	.upload-item {
		flex-flow: column nowrap;
	}
	
	.upload-item-name {
		margin-bottom: 3px;
	}
	
	.upload-item-input input[type='text'] {
		width: 100%;
		border: 1px solid #CCC;
	}
}
