.wrap-photo-list {
	display: flex;
	height: calc(100% - 50px);
	width: 90%;
	margin: 0px auto;
	align-items: center;
}

.photo-list {
	flex: 1;
	height: 90%;
	justify-content: center;
	overflow-y: scroll;
	overflow-x: hidden;
	
	-ms-overflow-style : none;
}

.photo-list::-webkit-scrollbar{
	display: none;
}

.photo-list-item {
	border: 1px solid #EEE;
	background: #FFF;
	padding: 1rem 0;
	margin-bottom: 1rem;
	overflow-x: hidden;
	min-height: 90%;
}

.photo-img {
	height: 60%;
	margin-bottom: 2rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.photo-sub {
	width: 80%;
	margin: 0px auto;
}

.photo-sub>.photo-menu {
	display: flex;
	margin-bottom: 1rem;
	align-items: center;
}

.photo-sub>.photo-menu>.btn-photo-like, .photo-sub>.photo-menu>.btn-photo-comment{
	margin-right: 0.5rem;
	width: 1rem;
	height: 1rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.photo-sub>.photo-detail {
	min-height: 5rem;
	margin-bottom: 1rem;
}

.photo-detail>.photo-info {
	display: flex;
	justify-content: space-between;
}

.photo-detail>.photo-info>.photo-name {
	color: #000;
	font-size : 1.1rem;
	font-weight: bold;
}

.photo-detail>.photo-info>.photo-like {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	
	margin-left : 0.3rem;
	font-size: 0.8rem;
	color : #F33;
}

.photo-detail>.photo-info>.photo-date-loc {
	color: #555;
	font-size: 0.9rem;
}

.photo-detail>.photo-desc {
	width: 100%;
	overflow: hidden;
	color: #555;
	word-break: break-all;
	margin-top : 0.5rem;
	min-height : 3rem;
}

.photo-detail>.photo-tag {
	display: flex;
	margin-top: 1rem;
	color: #33F;
}

.photo-loading{
	height: 5rem;
	color : #666;
}

.photo-comments {
	margin-bottom: 1rem;
}

.photo-comments .comment {
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.7rem;
	font-size: 0.75rem;
}

.photo-comments .comment .comment-userinfo {
	width: 7rem;
	font-weight: bold;
	
	display: flex;
	align-items: center;
}

.photo-comments .comment .comment-contents {
	flex: 1;
	max-width : calc(100% - 12rem);
	white-space: normal ;
	word-break : break-all;
	
	display: flex;
	align-items: center;
}

.photo-comments .comment .comment-date {
	width: 5rem;
	color : #888;
	
	display: flex;
	justify-content : flex-end;
	align-items: center;
}

.photo-comments .comment .btn-comment-delete {
	width: 2rem;
	
	display: flex;
	justify-content : flex-end;
	align-items: center;
}

.photo-write-comment {
	display: flex;
	height: 2rem;
	margin-bottom: 1rem;
}

.photo-write-comment.none {
	display: none;
}

.photo-write-comment .write-userinfo {
	width: 5rem;
}

.photo-write-comment .write-userinfo input {
	width: 100%;
	height: 1rem;
	border: none;
}

.photo-write-comment .write-comment {
	flex: 1;
	height: 100%;
	margin-left: 1rem;
}

.photo-write-comment .write-comment textarea {
	width: 100%;
	height: 100%;
	border: none;
	border-bottom: 1px solid #CCC;
	resize: none;
}

.photo-write-comment .btn-write {
	margin-left: 1rem;
	font-size: 0.6rem;
}

.snapsht-list {
	width: 150px;
	height: 90%;
	overflow: hidden;
	margin-left: 1rem;
	
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	overflow-y: scroll;
	
	-ms-overflow-style : none;
}

.snapsht-list::-webkit-scrollbar{
	display: none;
}

.snapsht-list-cut {
	height: 0.7rem;
	width: 150px;
	margin: 1px;
	background: #333;
}

.snapsht-list-item {
	height: calc(100px * 2 / 3);
	width: 150px;
	margin: 1px;
	background: #000;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	transition: transform .3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.snapsht-list-item:hover {
	transform : scale(1.05);
}

@media ( max-width : 720px) {
	.wrap-photo-list {
		width: 100%;
		margin-top: 0;
	}
	
	.photo-sub {
		width: 90%;
	}

	.snapsht-list {
		display: none;
	}
}