.wrap-upload-form{
	width :	90%;
	margin : 0 auto;
	margin-top : 20px;
	margin-bottom: 150px;
}

.upload-title{
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom : 30px;
	margin-left	: 10px;	
}

.upload-form {
	width : 100%;
}

.blog-upload-item{
	display: flex;
	flex-flow : row nowrap;
	margin-bottom : 10px;
}

.blog-upload-item .item-name{
	width : 100px;
	font-weight: bold;
}

.blog-upload-item .item-input{
	flex : 1;
}

.blog-upload-item .item-input input[type='text']{
	width : 50%;
	padding : 1px 3px;
	border: 1px solid #CCC;
}

.blog-contents{
	height: 450px;
}

.blog-submit{
	text-align: right;
}