.wrap-blog {
	margin-bottom: 150px;
}

.blog-first-item {
	position: relative;
	height: 60%;
	margin: 0px auto;
	margin-top: 20px;
	margin-bottom: 40px;
}

.blog-first-item::after {
	content: '&nbsp;';
	display: block;
}

.blog-first-item .blog-first-item-snapsht {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.blog-first-item .blog-first-item-fg {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 2;
	background: rgba(0, 0, 0, 0.6);
}

.blog-first-item .blog-first-item-desc {
	position: absolute;
	bottom: 10%;
	right: 5%;
	width: 40%;
	color: #FFF;
	z-index: 3;
	cursor: pointer;
}

.blog-first-item .blog-first-item-desc .prefix {
	margin-left: 5px;
	margin-bottom: 5px;
}

.blog-first-item .blog-first-item-desc .title {
	font-size: 3rem;
	margin-bottom: 10px;
	transition: margin .3s cubic-bezier(0.215, 0.61, 0.355, 1);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.blog-first-item .blog-first-item-desc:hover .title {
	margin-bottom: 20px;
}

.blog-first-item .blog-first-item-desc .content {
	display: -webkit-box;
	overflow: hidden;
	-webkit-box-orient: vertical;
	white-space: normal;
	-webkit-line-clamp: 3;
	max-height: 4.4rem;
	word-break: break-word;
}

.wrap-blog-list {
	display: flex;
	min-height: 50%;
}

.blog-item-list {
	flex: 1;
}

.blog-item {
	display: flex;
	justify-content: flex-start;
	margin: 0px 10px 0px 0px;
	padding: 15px 15px 15px 0px;
	border-bottom: 1px solid #F3F3F3;
}

.blog-item .blog-item-snapsht {
	position: relative;
	width: 30vmin;
	height: 20vmin;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin-right: 15px;
	border-radius : 3px;
	cursor: pointer;
}

.blog-item .blog-item-snapsht .blog-item-snapsht-fg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.1);
}

.blog-item .blog-item-desc {
	flex: 1;
	display: flex;
	flex-flow: column nowrap;
	cursor: pointer;
}

.blog-item .blog-item-desc .blog-item-title {
	font-size: 1.25rem;
	font-weight: bold;
	max-height: 1.5rem;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 7px;
}

.blog-item .blog-item-desc .blog-item-content {
	color: rgba(0, 0, 0, 0.6);
	display: -webkit-box;
	overflow: hidden;
	-webkit-box-orient: vertical;
	white-space: normal;
	-webkit-line-clamp: 4;
	max-height: 6rem;
	word-break: break-word;
}

.blog-item .blog-item-desc .blog-item-empty {
	flex: 1;
}

.blog-item .blog-item-desc .blog-item-sub {
	display: flex;
	justify-content: space-between;
	font-size: 0.75rem
}

.blog-item .blog-item-desc .blog-item-sub .blog-item-tag {
	overflow: hidden;
	white-space: nowrap;
}

.blog-item .blog-item-desc .blog-item-sub .blog-item-tag .tag {
	margin: 0;
	margin-right: 5px;
	padding: 4px 7px;
}

.blog-item .blog-item-desc .blog-item-sub .blog-item-comt {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}

.blog-tags {
	width: 20%;
	text-align: center;
}

.tag {
	display: inline-block;
	border: 0.7px solid #DDD;
	border-radius: 5px;
	opacity: 0.8;
	padding: 5px 10px;
	font-weight: bold;
	margin: 5px 3px;
	cursor: pointer;
}

.tag:hover {
	opacity: 1;
	color: #FFF;
	background: #333;
	border-color: #333;
}

.tag.on {
	opacity: 1;
	color: #FFF;
	background: #000;
	border-color: #000;
}

@media ( max-width : 800px) {
	.blog-first-item {
		width: 100%;
		height: 60%;
		margin-top : 0px;
		margin-bottom: 20px;
	}
	
	.blog-first-item .blog-first-item-desc {
		width: 90%;
	}
	
	.wrap-blog-list {
		width: 100%;
	}
	
	.blog-item {
		margin: 0;
		padding: 15px 15px 15px 15px;
	}
	
	.blog-tags {
		display: none;
	}
	
	.blog-item .blog-item-desc .blog-item-content {
		-webkit-line-clamp: 3;
	}
}

@media ( max-width : 500px) {
	.blog-item .blog-item-desc .blog-item-content {
		-webkit-line-clamp: 1;
	}
}