.wrap-blog {
	max-width: var(--section-width-wide);
	min-height : calc(100% - 50px);
	margin : 0 auto;
	margin-bottom: 150px;
	margin-top: 20px;
}

.blog-head{
	height : 60%;
	position: relative;
}

.blog-head::after{ 
    content: '&nbsp;';
	display : block; 
}

.blog-head .blog-head-bg{
	position: absolute;
	top		: 0;
	left	: 0;
	right	: 0;
	bottom 	: 0;
	
	z-index: 1;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.blog-head .blog-head-fg{
	position: absolute;
	top		: 0;
	left	: 0;
	right	: 0;
	bottom 	: 0;
	
	z-index: 2;
	background: rgba(0,0,0,0.5);
}

.blog-head .blog-head-desc{
	position: absolute;
	top		: 0;
	left	: 0;
	right	: 0;
	bottom 	: 0;
	z-index: 3;
	
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	color: #FFF;
}

.blog-head .blog-head-desc .tag{
	margin-bottom: 10px;
}

.blog-head .blog-head-desc .title{
	width : 90%;
	font-size: 3rem;
	margin-bottom: 10px;
	text-align: center;
	font-weight: bold;
	
	word-break: keep-all;
	word-wrap: break-word;
}
.blog-head .blog-head-desc .subinfo{
	display : flex;
	flex-flow : row nowrap;
	justify-content : center;
	align-items : center;
	font-size: 0.75rem;
}


.blog-head .blog-head-desc .subinfo > *{
	margin-right: 7px;
}

.colum-border{
	width : 1px;
	height: 0.5rem;
   	background : #DDD;
}

.blog-head  .blog-head-submenu{
	position: absolute;
	right : 3%;
	bottom : 3%;
	z-index: 3;
}

.blog-head  .blog-head-submenu a{
	margin-left : 1rem;
	color: #FFF;
}

.blog-main{
	max-width : var(--section-width-narrow);
	margin : 0 auto;
	margin-top : 50px;
}

.blog-main .blog-contents{
	text-align: center;
}

.blog-files .blog-file{
	margin: 5px 0;
}

.blog-files .blog-file a{
	cursor: pointer;
	color: #00D;
	text-decoration: none;
}

@media (max-width: 800px){
	.wrap-blog {
		margin-top: 0;
	}
	
	.blog-main{
		width: 90%;
		margin: 0 auto;
		margin-top : 50px;
	}
}
