.wrap-upload-form {
	max-width: var(--section-width-wide);
	margin : 0 auto;
	margin-top: 20px;
	margin-bottom: 150px;
}

.upload-title {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 30px;
	margin-left: 10px;
}

.upload-project {
	display: flex;
	flex-flow: row nowrap;
	margin-bottom: 15px;
}

.upload-project-name {
	width: 150px;
	font-weight: bold;
	padding-top : 2px;
}

.upload-project-input {
	flex: 1;
}

.upload-project-input input[type='text'] {
	width: 50%;
	padding: 1px 3px;
}

.upload-project-input .project-thumbnail-img{
	cursor : pointer;
	background : #EEE;
}

.upload-project-input .project-thumbnailfile{
	display: none;
}


.project-submit {
	text-align: right;
}

@media ( max-width : 800px) {
	.wrap-upload-form {
		width: 90%;
		margin: 0 auto;
		margin-top: 20px;
		margin-bottom: 150px;
	}
	
	.upload-project {
		flex-flow: column nowrap;
	}
	
	.upload-project-name {
		margin-bottom: 3px;
	}
	
	.upload-project-input input[type='text'] {
		width: 100%;
		border: 1px solid #CCC;
	}
}