.project-detail {
	width : 80%;
	margin : 0px auto;
	margin-top: 3rem;
}

.project-head {
	position: relative;
}

.project-name{
	display: inline-block;
	margin-right: 5px;
}

.project-subinfo{
	position: absolute;
	right : 0px;
	bottom : 0px;
	color: #666;
	font-size: 0.5rem;
	line-height : 1rem;
	text-align: right;
}

.project-line{
	background: #DDD;
	height : 1px;
	margin: 0.5rem 0;
}


.project-content {
	position : relative;
	margin-top: 1.5rem;
	padding : 1rem;
	background: #FFF;
	border: 0.5px solid #DDD;
	min-height: 100%;
}

.project-snapsht{
	width : 360px;
	margin-bottom: 1rem;
}

.project-subinfo2 {
	display : flex;
	justify-content: space-between;
	font-size: 0.7rem;
}

.project-source{
	font-weight: bold;
}

.btn-project-before{
	position : fixed;
	top : 50%;
	left : 1.5rem;
	width: 3%;
	height: 3%;
	background-position	: center;
    background-repeat	: no-repeat;
    background-size		: contain;
}

.btn-project-next{
	position : fixed;
	top : 50%;
	right : 1.5rem;
	width: 3%;
	height: 3%;
	background-position	: center;
    background-repeat	: no-repeat;
    background-size		: contain;
}

.btn-project-tooltip{
	background: #222;
	color: #FFF;
	font-size: 0.6rem;
	box-shadow: 0 1px 0 rgba(12,13,14,0.1), 0 1px 3px rgba(12,13,14,0.1), 0 4px 20px rgba(12,13,14,0.035), 0 1px 1px rgba(12,13,14,0.025);
	border: none !important;
	padding: 0.3rem 0.5rem;
}
			
.project-files .project-file{
	margin: 0.5rem 0;
}

.project-files .project-file a{
	cursor: pointer;
	color: #00D;
	text-decoration: none;
}
					

@media (max-width: 420px){
	.project-detail {
		width : 90%;
		margin-top: 3rem;
	}
}