.wrap-upload-form{
	width : 90%;
	margin: 0px auto;
	margin-top: 2rem;
	margin-bottom: 10rem;
}
.upload-title{
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom : 2rem;
	margin-left	: 0.5rem;	
}

.upload-project{
	display : flex;
	flex-flow : row nowrap;
	margin: 1rem 0;
}

.upload-project-name{
	width : 7rem;
	font-size: 0.7rem;
	font-weight: bold;
}

.upload-project-input{
	flex  : 1;
}

.upload-project-input input{
	width : 50%;
}
