.project-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	max-width: var(--section-width-wide);
	margin: 0px auto;
	padding : 0 30px;
	padding-top: 30px;
	padding-bottom: 150px;
}

.project-view {
	width: calc(100%/ 3 - 26px);
	padding: 20px 13px;
	cursor: pointer;
	opacity: 1;
	overflow: hidden;
	background: #FFF;
}

.project-snapsht {
	height: 200px;
	width: 100%;
	opacity: 0.9;
	position: relative;
	border-radius : 3px;
	overflow: hidden;
}

.project-snapsht .project-snapsht-img {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.project-snapsht .project-snapsht-overlay {
	position: absolute;
	max-width : 80%;
	margin : 0 auto;
	word-break : keep-all;
	text-align : center;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.3rem;
	z-index: 2;
	color: #FFF;
	opacity: 0;
	transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.project-snapsht .project-snapsht-fg {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	background: rgba(0, 0, 0, 0.7);
	opacity: 0.1;
	pointer-events: none;
}

.project-view:HOVER .project-snapsht-overlay {
	opacity: 1;
}

.project-view:HOVER .project-snapsht-img {
	transform: scale(1.1);
}

.project-view:HOVER .project-snapsht-fg {
	opacity: 1;
}

.project-info {
	margin: 20px 0;
	flex: 1;
	position: relative;
	opacity: 0.9;
}

.project-title {
	font-size: 1.25rem;
	font-weight: bold;
	margin-bottom: 8px;
}

.project-desc {
	color: #444;
	margin-bottom: 8px;
	min-height: 100px;
	opacity: .8;
}

.project-subinfo {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	font-size: 0.7rem;
	color: #666;
	opacity: 0.8;
}

.project-subinfo div {
	margin-left: 7px;
}

.colum-border {
	width: 1px;
	background: #DDD;
}

.project-view:HOVER .project-info {
	opacity: 1;
}

.project-view:HOVER .project-subinfo {
	opacity: 1;
}

@media ( min-width : 800px) and (max-width: 1100px) {
	.project-view {
		width: calc(100%/ 2 - 26px);
	}
}

@media ( max-width : 800px) {
	.project-list {
		margin: 0 auto;
		background: #F9F9F9;
		padding : 0;
		padding-bottom: 50;
	}
	
	.project-view {
		width: 100%;
		opacity: 1;
		margin-bottom: 10px;
    	padding : 30px 20px;
	}
	
	.project-view:first-child{
		margin-top: 10px;
	}
	
	.project-desc {
		min-height: 50px;
	}
	
	.project-info .project-subinfo{
		opacity: 1;
	}
}