<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cglee079.changoos.mapper.BlogMapper">
	<select id="S01" resultType="com.cglee079.changoos.model.BlogVo" parameterType="Integer">
		/* 블로그 가져오기 */
		SELECT
		A.BLOG_SEQ as "seq",
		BLOG_THUMB as "thumbnail",
		BLOG_TITLE as "title",
		BLOG_CONTENTS as "contents",
		BLOG_TAG as "tag",
		BLOG_DATE as "date",
		BLOG_HITS as "hits",
		BLOG_ENABLED as "enabled",
		count(B.COMT_SEQ) as 'comtCnt'
		FROM TB_CHANGOOS_BLOG A LEFT OUTER JOIN TB_CHANGOOS_BLOG_COMT B ON A.BLOG_SEQ = B.BLOG_SEQ
		WHERE A.BLOG_SEQ = #{seq}
		GROUP BY A.BLOG_SEQ
	</select>
	
	
	<select id="S03" resultType="com.cglee079.changoos.model.BlogVo" parameterType="map">
		/* 블로그 페이징 */
		SELECT X.* 
      	FROM (
      		<foreach collection="tags" index="index" item="item" separator="UNION DISTINCT">
			SELECT
			A.BLOG_SEQ as "seq",
			BLOG_THUMB as "thumbnail",
			BLOG_TITLE as "title",
			BLOG_CONTENTS as "contents",
			BLOG_TAG as "tag",
			BLOG_DATE as "date",
			BLOG_HITS as "hits",
			BLOG_ENABLED as "enabled",
			count(B.COMT_SEQ) as 'comtCnt'
			FROM TB_CHANGOOS_BLOG A LEFT OUTER JOIN TB_CHANGOOS_BLOG_COMT B ON A.BLOG_SEQ = B.BLOG_SEQ
			<trim prefix="WHERE" prefixOverrides="AND |OR ">
				AND BLOG_TAG like '%${item}%' 
			<if test="enabled != null">
				<![CDATA[AND BLOG_ENABLED = #{enabled}]]>
  			</if>
  			</trim>
			GROUP BY A.BLOG_SEQ
			</foreach>
		) X
		
		ORDER BY date DESC, seq DESC
		<if test="startRow != null and perPgLine != null">
 		LIMIT ${startRow}, ${perPgLine}
  		</if>
	</select>
	
	<select id="S04" resultType="com.cglee079.changoos.model.BlogVo" parameterType="map">
		/* 블로그 리스트 */
		SELECT
		A.BLOG_SEQ as "seq",
		BLOG_THUMB as "thumbnail",
		BLOG_TITLE as "title",
		BLOG_CONTENTS as "contents",
		BLOG_TAG as "tag",
		BLOG_DATE as "date",
		BLOG_HITS as "hits",
		BLOG_ENABLED as "enabled",
		count(B.COMT_SEQ) as 'comtCnt'
		FROM TB_CHANGOOS_BLOG A LEFT OUTER JOIN TB_CHANGOOS_BLOG_COMT B ON A.BLOG_SEQ = B.BLOG_SEQ
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
  		</trim>
		GROUP BY A.BLOG_SEQ
		
		<choose>
		<when test="sort != null">
		ORDER BY ${sort} ${order}
		</when>
		<otherwise>
		ORDER BY BLOG_DATE DESC, A.BLOG_SEQ DESC
		</otherwise>
		</choose>
		<if test="startRow != null and perPgLine != null">
 		LIMIT ${startRow}, ${perPgLine}
  		</if>
	</select>
	
	<select id="S05" resultType="Integer" parameterType="map">
		/* 블로그 개수 */
		SELECT
			count(*)
		FROM TB_CHANGOOS_BLOG
	</select>
	
	<select id="S06" resultType="String" parameterType="map">
		SELECT BLOG_TAG
		FROM TB_CHANGOOS_BLOG
		<trim prefix="WHERE" prefixOverrides="AND |OR "> 
		<if test="enabled != null">
		<![CDATA[AND BLOG_ENABLED = #{enabled}]]>
		</if>
		</trim>
	</select>
	
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="seq" >
		/* 블로그 추가하기 */
		INSERT TB_CHANGOOS_BLOG 
		(BLOG_THUMB, BLOG_TITLE, BLOG_CONTENTS, BLOG_TAG, BLOG_DATE, BLOG_HITS, BLOG_ENABLED)
		VALUES (#{thumbnail}, #{title}, #{contents}, #{tag}, #{date}, #{hits}, #{enabled})
	</insert>
	
	<delete id="delete">
		/* 블로그 삭제하기 */
		DELETE FROM TB_CHANGOOS_BLOG
		WHERE BLOG_SEQ = #{seq}
	</delete>
	
	<update id="update">
		/* 블로그 수정하기 */
		UPDATE TB_CHANGOOS_BLOG
		SET 
		<choose>
		<when test=" thumbnail == '' ">
		BLOG_THUMB 	= null,
		</when>
		<otherwise>
		BLOG_THUMB 	= #{thumbnail},
		</otherwise>
		</choose>
		
		BLOG_TITLE 		= #{title},
		BLOG_CONTENTS 	= #{contents},
		BLOG_TAG 		= #{tag},
		BLOG_DATE 		= #{date},
		BLOG_HITS 		= #{hits},
		BLOG_ENABLED    = #{enabled}
		WHERE BLOG_SEQ = #{seq}
	</update>
	
</mapper>