<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cglee079.changoos.mapper.BlogMapper">
	<resultMap type="BlogVo" id="blogResultMap">
		<id property="seq" column="BLOG_SEQ"/>
		<result property="thumbnail" column="BLOG_THUMB"/>
		<result property="title" column="BLOG_TITLE"/>
		<result property="contents" column="BLOG_CONTENTS"/>
		<result property="tag" column="BLOG_TAG"/>
		<result property="date" column="BLOG_DATE"/>
		<result property="hits" column="BLOG_HITS"/>
		<result property="enabled" column="BLOG_ENABLED"/>
		<result property="comtCnt" column="comtCnt" />
		
		<collection property="images" ofType="BoardImageVo">
			<id property="seq" column="IMG_SEQ"/>
			<result property="editorID" column="EDITOR_ID"/>
			<result property="pathname" column="IMG_PATHNM"/>
			<result property="filename" column="IMG_FILENM"/>
		</collection>
		
		<collection property="files" ofType="BoardFileVo">
			<id property="seq" column="FILE_SEQ"/>
			<result property="pathname" column="FILE_PATHNM"/>
			<result property="filename" column="FILE_FILENM"/>
			<result property="size" column="FILE_SIZE"/>
		</collection>
	</resultMap>
	
	<select id="get" resultMap="blogResultMap" parameterType="Integer">
		SELECT
			A.*, 
			B.*,
			C.*,
			D.comtCnt
		FROM 
			TB_CHANGOOS_BLOG A 
			LEFT JOIN TB_CHANGOOS_BLOG_IMAGE B ON BLOG_SEQ = B.BOARD_SEQ
			LEFT JOIN TB_CHANGOOS_BLOG_FILE C ON BLOG_SEQ = C.BOARD_SEQ
			LEFT JOIN 
			(SELECT BOARD_SEQ, COUNT(COMT_SEQ) as comtCnt
			FROM TB_CHANGOOS_BLOG_COMT
			GROUP BY BOARD_SEQ) D
			ON BLOG_SEQ = D.BOARD_SEQ
		
		WHERE BLOG_SEQ = #{seq}
	</select>
	
	<select id="list" resultMap="blogResultMap" parameterType="map">
		/* 블로그 페이징 */
		SELECT X.* 
      	FROM (
      		<choose>
      		<when test="tags != null and tags.size() != 0">
	      		<foreach collection="tags"  item="item" separator="UNION DISTINCT">
				SELECT
					A.*, 
					B.IMG_SEQ,
					B.EDITOR_ID,
					B.IMG_PATHNM,
					B.IMG_FILENM,
					C.comtCnt
				FROM 
					TB_CHANGOOS_BLOG A 
					LEFT JOIN 
					(SELECT *
					FROM TB_CHANGOOS_BLOG_IMAGE
					GROUP BY BOARD_SEQ) B
					ON BLOG_SEQ = B.BOARD_SEQ
					LEFT JOIN 
					(SELECT BOARD_SEQ, COUNT(COMT_SEQ) as comtCnt
					FROM TB_CHANGOOS_BLOG_COMT
					GROUP BY BOARD_SEQ) C
					ON BLOG_SEQ = C.BOARD_SEQ
				<trim prefix="WHERE" prefixOverrides="AND |OR ">
					AND BLOG_TAG like '%${item}%' 
				<if test="enabled != null">
					AND BLOG_ENABLED = #{enabled}
	  			</if>
	  			</trim>
				</foreach>
			</when>
			<otherwise>
				SELECT
					A.*, 
					B.IMG_SEQ,
					B.EDITOR_ID,
					B.IMG_PATHNM,
					B.IMG_FILENM,
					C.comtCnt
				FROM 
					TB_CHANGOOS_BLOG A 
					LEFT JOIN 
					(SELECT *
					FROM TB_CHANGOOS_BLOG_IMAGE
					GROUP BY BOARD_SEQ) B
					ON BLOG_SEQ = B.BOARD_SEQ
					LEFT JOIN 
					(SELECT BOARD_SEQ, COUNT(COMT_SEQ) as comtCnt
					FROM TB_CHANGOOS_BLOG_COMT
					GROUP BY BOARD_SEQ) C
					ON BLOG_SEQ = C.BOARD_SEQ
				<trim prefix="WHERE" prefixOverrides="AND |OR ">
				<if test="enabled != null">
					AND BLOG_ENABLED = #{enabled}
	  			</if>
  				</trim>
			</otherwise>
			</choose>
		) X
		
		<choose>
		<when test="sort == 'seq'"> 	ORDER BY BLOG_SEQ ${order} </when>
		<when test="sort == 'title'"> 	ORDER BY BLOG_TITLE ${order} </when>
		<when test="sort == 'date'">	ORDER BY BLOG_DATE ${order} </when>
		<when test="sort == 'hits'"> 	ORDER BY BLOG_HITS ${order} </when>
		<when test="sort == 'comtCnt'"> ORDER BY comtCnt ${order} </when>
		<otherwise> ORDER BY BLOG_DATE DESC, BLOG_SEQ DESC 	</otherwise>
		</choose>
		
		<if test="startRow != null and perPgLine != null">
 		LIMIT ${startRow}, ${perPgLine}
  		</if>
	</select>
	
	<select id="count" resultType="Integer" parameterType="map">
		/* 블로그 개수 */
		SELECT
			count(*)
		FROM TB_CHANGOOS_BLOG
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
		<if test="enabled != null">
			AND BLOG_ENABLED = #{enabled}
		</if>
		</trim>
	</select>

	<select id="getTags" resultType="String" parameterType="map">
		SELECT DISTINCT BLOG_TAG
		FROM TB_CHANGOOS_BLOG
		<trim prefix="WHERE" prefixOverrides="AND |OR "> 
		AND BLOG_ENABLED = true
		</trim>
	</select>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="seq" >
		/* 블로그 추가하기 */
		INSERT TB_CHANGOOS_BLOG (
			BLOG_THUMB,
			BLOG_TITLE,
			BLOG_CONTENTS,
			BLOG_TAG,
			BLOG_DATE,
			BLOG_HITS,
			BLOG_ENABLED
		)
		VALUES (
			#{thumbnail},
			#{title},
			#{contents},
			#{tag},
			#{date},
			#{hits},
			#{enabled}
		)
	</insert>
	
	<update id="update">
		/* 블로그 수정하기 */
		UPDATE TB_CHANGOOS_BLOG
		SET 
		<choose>
		<when test=" thumbnail == '' ">
		BLOG_THUMB 	= null,
		</when>
		<otherwise>
		BLOG_THUMB 	= #{thumbnail},
		</otherwise>
		</choose>
		
		BLOG_TITLE 		= #{title},
		BLOG_CONTENTS 	= #{contents},
		BLOG_TAG 		= #{tag},
		BLOG_DATE 		= #{date},
		BLOG_HITS 		= #{hits},
		BLOG_ENABLED    = #{enabled}
		WHERE BLOG_SEQ = #{seq}
	</update>
	
	<delete id="delete">
		/* 블로그 삭제하기 */
		DELETE FROM TB_CHANGOOS_BLOG
		WHERE BLOG_SEQ = #{seq}
	</delete>
	
</mapper>