<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cglee079.changoos.mapper.BlogComtMapper">
	
	<select id="count" resultType="Integer">
		SELECT
			count(*)
		FROM TB_CHANGOOS_BLOG_COMT
		WHERE BLOG_SEQ = #{boardSeq}
	</select>
	
	<select id="list" resultType="com.cglee079.changoos.model.ComtVo" parameterType="map">
		SELECT
		COMT_SEQ as "seq",
		BLOG_SEQ as "boardSeq",
		COMT_USERNAME as "username",
		COMT_PWD as "password",
		COMT_CONTENTS as "contents",
		COMT_DATE as "date",
		PARENT_COMT as "parentComt"
		FROM TB_CHANGOOS_BLOG_COMT
		WHERE BLOG_SEQ = #{boardSeq}
		ORDER BY CONCAT(IF(PARENT_COMT is null, COALESCE(PARENT_COMT, ''), CONCAT('_', LPAD(PARENT_COMT,6,'0')) ), '_',LPAD(COMT_SEQ,6,'0'))
		LIMIT #{startRow}, #{perPgLine}
	</select>
	
	<select id="get" resultType="com.cglee079.changoos.model.ComtVo" parameterType="Integer">
		SELECT
		COMT_SEQ as "seq",
		BLOG_SEQ as "boardSeq",
		COMT_USERNAME as "username",
		COMT_PWD as "password",
		COMT_CONTENTS as "contents",
		COMT_DATE as "DATE",
		PARENT_COMT as "parentComt"
		FROM TB_CHANGOOS_BLOG_COMT
		WHERE COMT_SEQ = #{seq}
	</select>
	
	<insert id="insert">
		INSERT TB_CHANGOOS_BLOG_COMT 
		(BLOG_SEQ, COMT_USERNAME, COMT_PWD, COMT_CONTENTS, COMT_DATE, PARENT_COMT)
		VALUES (#{boardSeq}, #{username}, #{password}, #{contents}, #{date}, #{parentComt});
	</insert>
	
	<delete id="delete">
		DELETE FROM TB_CHANGOOS_BLOG_COMT
		WHERE COMT_SEQ = #{seq}
	</delete>
	
	<update id="update" parameterType="map">
		UPDATE TB_CHANGOOS_BLOG_COMT
		SET 
		COMT_CONTENTS = #{contents}
		WHERE COMT_SEQ = #{seq}
	</update>
	
</mapper>