<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cglee079.changoos.mapper.BoardFileMapper">
	<insert id="insert" useGeneratedKeys="true" keyProperty="seq" parameterType="map">
		INSERT ${TB} 
		(BOARD_SEQ, FILE_PATHNM, FILE_FILENM, FILE_SIZE)
		VALUES (#{file.boardSeq}, #{file.pathname}, #{file.filename}, #{file.size})
	</insert>
	
	<delete id="delete" parameterType="map">
		DELETE FROM ${TB}
		WHERE FILE_SEQ = #{seq}
	</delete>	
	
	
</mapper>