<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cglee079.changoos.mapper.BoardComtMapper">
	<resultMap type="BoardComtVo" id="boardComtResultMap">
		<id property="seq" column="COMT_SEQ"/>
		<result property="seq" column="COMT_SEQ"/>
		<result property="boardSeq" column="BOARD_SEQ"/>
		<result property="username" column="COMT_USERNAME"/>
		<result property="password" column="COMT_PWD"/>
		<result property="contents" column="COMT_CONTENTS"/>
		<result property="date" column="COMT_DATE"/>
		<result property="parentComt" column="PARENT_COMT"/>
	</resultMap>
	
	<select id="count" resultType="Integer">
		SELECT
			count(*)
		FROM ${TB}
		WHERE BOARD_SEQ = #{boardSeq}
	</select>
	
	<select id="list" resultMap="boardComtResultMap" parameterType="map">
		SELECT
			*
		FROM ${TB}
		WHERE BOARD_SEQ = #{boardSeq}
		ORDER BY CONCAT(IF(PARENT_COMT is null, COALESCE(PARENT_COMT, ''), CONCAT('_', LPAD(PARENT_COMT,6,'0')) ), '_',LPAD(COMT_SEQ,6,'0'))
		LIMIT #{startRow}, #{perPgLine}
	</select>
	
	<select id="get" resultMap="boardComtResultMap" parameterType="Integer">
		SELECT
			*
		FROM ${TB}
		WHERE COMT_SEQ = #{seq}
	</select>
	
	<insert id="insert">
		INSERT ${TB} 
		(
			BOARD_SEQ, 
			COMT_USERNAME, 
			COMT_PWD, 
			COMT_CONTENTS, 
			COMT_DATE, 
			PARENT_COMT
		)
		VALUES 
		(
			#{comt.boardSeq}, 
			#{comt.username}, 
			#{comt.password}, 
			#{comt.contents}, 
			#{comt.date}, 
			#{comt.parentComt}
		)
	</insert>
	
	<delete id="delete">
		DELETE 
		FROM ${TB}
		WHERE COMT_SEQ = #{seq}
	</delete>
	
	<update id="update" parameterType="map">
		UPDATE ${TB}
		SET 
		COMT_CONTENTS = #{comt.contents}
		WHERE COMT_SEQ = #{comt.seq}
	</update>
	
</mapper>