<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cglee079.changoos.mapper.BoardMapper">
	<select id="S01" resultType="com.cglee079.changoos.model.BoardVo" parameterType="Integer">
		/* 게시글 가져오기 */
		SELECT
		BOARD_SEQ as "seq",
		BOARD_SORT as "sort",
		BOARD_SECT as "sect",
		BOARD_CODE_LANG as "codeLang",
		BOARD_TITLE as "title",
		BOARD_CONTENTS as "contents",
		BOARD_DATE as "date",
		BOARD_HITS as "hits",
		count(B.BCOMT_SEQ) as 'comtCnt'
		FROM TB_PTFOLIO_BOARDS A LEFT OUTER JOIN TB_PTFOLIO_BOARD_COMTS B ON A.BOARD_SEQ = B.BCOMT_BOARD_SEQ
		WHERE BOARD_SEQ = #{seq}
		GROUP BY A.BOARD_SEQ
	</select>
	
	<select id="S02" parameterType="map" resultType="com.cglee079.changoos.model.BoardVo">
		/* 이전 게시글 가져오기 */
		SELECT 
		BOARD_SEQ as "seq",
		BOARD_SORT as "sort",
		BOARD_SECT as "sect",
		BOARD_CODE_LANG as "codeLang",
		BOARD_TITLE as "title",
		BOARD_CONTENTS as "contents",
		BOARD_DATE as "date",
		BOARD_HITS as "hits",
		count(B.BCOMT_SEQ) as 'comtCnt'
		FROM TB_PTFOLIO_BOARDS A LEFT OUTER JOIN TB_PTFOLIO_BOARD_COMTS B ON A.BOARD_SEQ = B.BCOMT_BOARD_SEQ
		<trim prefix="WHERE" prefixOverrides="AND |OR "> 
		<![CDATA[BOARD_SEQ < #{seq}]]>  
		<if test="sect != ''">
 		<![CDATA[AND UPPER(BOARD_SECT) = UPPER(#{sect})]]>
  		</if>
  		</trim>
		GROUP BY A.BOARD_SEQ
		ORDER BY BOARD_SEQ DESC LIMIT 1
	</select>
	
	<select id="S03" parameterType="map" resultType="com.cglee079.changoos.model.BoardVo">
		/* 다음 게시글 가져오기 */
		SELECT 
		BOARD_SEQ as "seq",
		BOARD_SORT as "sort",
		BOARD_SECT as "sect",
		BOARD_CODE_LANG as "codeLang",
		BOARD_TITLE as "title",
		BOARD_CONTENTS as "contents",
		BOARD_DATE as "date",
		BOARD_HITS as "hits",
		count(B.BCOMT_SEQ) as 'comtCnt'
		FROM TB_PTFOLIO_BOARDS A LEFT OUTER JOIN TB_PTFOLIO_BOARD_COMTS B ON A.BOARD_SEQ = B.BCOMT_BOARD_SEQ
		<trim prefix="WHERE" prefixOverrides="AND |OR "> 
		<![CDATA[BOARD_SEQ > #{seq}]]>
		<if test="sect != ''">
 		<![CDATA[AND UPPER(BOARD_SECT) = UPPER(#{sect})]]>
  		</if>
  		</trim>
		GROUP BY A.BOARD_SEQ
		ORDER BY BOARD_SEQ ASC LIMIT 1
	</select>
	
	<select id="S04" resultType="com.cglee079.changoos.model.BoardVo" parameterType="map">
		/* 게시글 리스트 */
		SELECT
		BOARD_SEQ as "seq",
		BOARD_SORT as "sort",
		BOARD_SECT as "sect",
		BOARD_CODE_LANG as "codeLang",
		BOARD_TITLE as "title",
		BOARD_CONTENTS as "contents",
		BOARD_DATE as "date",
		BOARD_HITS as "hits",
		count(B.BCOMT_SEQ) as 'comtCnt'
		FROM TB_PTFOLIO_BOARDS A LEFT OUTER JOIN TB_PTFOLIO_BOARD_COMTS B ON A.BOARD_SEQ = B.BCOMT_BOARD_SEQ
		<trim prefix="WHERE" prefixOverrides="AND |OR "> 
		<if test="sect != '' and sect != NULL">
 		<![CDATA[AND UPPER(BOARD_SECT) = UPPER(#{sect})]]>
  		</if>
  		<if test="searchType == 'TITLE' and searchValue != ''">
 		<![CDATA[AND UPPER(BOARD_TITLE) LIKE CONCAT('%', UPPER(#{searchValue}), '%')]]>
  		</if>
  		</trim>
  		GROUP BY A.BOARD_SEQ
  		<choose>
		<when test="sort != null">
		ORDER BY ${sort} ${order}
		</when>
		<otherwise>
		ORDER BY BOARD_SORT, BOARD_DATE DESC, BOARD_SEQ DESC
		</otherwise>
		</choose>
		<if test="startRow != null and perPgLine != null">
 		LIMIT ${startRow}, ${perPgLine}
  		</if>
	</select>
	
	<select id="S05" resultType="Integer" parameterType="map">
		/* 게시글 개수 */
		SELECT
			count(*)
		FROM TB_PTFOLIO_BOARDS
		<trim prefix="WHERE" prefixOverrides="AND |OR "> 
		<if test="sect != ''">
 		<![CDATA[AND UPPER(BOARD_SECT) = UPPER(#{sect})]]>
  		</if>
		<if test="searchType == 'SECT' and searchValue != ''">
 		<![CDATA[AND UPPER(BOARD_SECT) LIKE CONCAT('%', UPPER(#{searchValue}), '%')]]>
  		</if>
  		<if test="searchType == 'TITLE' and searchValue != ''">
 		<![CDATA[AND UPPER(BOARD_TITLE) LIKE CONCAT('%', UPPER(#{searchValue}), '%')]]>
  		</if>
  		</trim>
	</select>
	
	<select id="S06" resultType="String">
		SELECT BOARD_SECT 
		FROM TB_PTFOLIO_BOARDS
		GROUP BY BOARD_SECT
		ORDER BY COUNT(*) DESC
	</select>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="seq" >
		INSERT TB_PTFOLIO_BOARDS 
		(BOARD_SORT, BOARD_SECT, BOARD_CODE_LANG, BOARD_TITLE, BOARD_CONTENTS, BOARD_DATE, BOARD_HITS)
		VALUES (#{sort}, #{sect}, #{codeLang}, #{title}, #{contents}, #{date}, #{hits})
	</insert>
	
	<delete id="delete">
		DELETE FROM TB_PTFOLIO_BOARDS
		WHERE BOARD_SEQ = #{seq}
	</delete>
	
	<update id="update">
		UPDATE TB_PTFOLIO_BOARDS
		SET 
		BOARD_SORT = #{sort},
		BOARD_SECT = #{sect},
		BOARD_CODE_LANG = #{codeLang},
		BOARD_TITLE = #{title},
		BOARD_CONTENTS = #{contents},
		BOARD_DATE = #{date},
		BOARD_HITS = #{hits}
		WHERE BOARD_SEQ = #{seq}
	</update>
	
</mapper>