<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cglee079.changoos.mapper.CommonCodeMapper">
	<select id="S01" resultType="String" parameterType="Map">
		/* 코드 키 가져오기 	*/
		SELECT
		CODE_VALUE
		FROM
		TB_PTFOLIO_COMMCD
		WHERE GROUP_KEY = #{group}
		AND CODE_KEY = #{code}
	</select>

</mapper>