<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cglee079.changoos.mapper.PhotoComtMapper">
	<resultMap type="PhotoComtVo" id="photoComtResultMap">
		<id property="seq" column="COMT_SEQ"/>
		<result property="seq" column="COMT_SEQ"/>
		<result property="boardSeq" column="BOARD_SEQ"/>
		<result property="username" column="COMT_USERNAME"/>
		<result property="password" column="COMT_PWD"/>
		<result property="contents" column="COMT_CONTENTS"/>
		<result property="date" column="COMT_DATE"/>
		<result property="parentComt" column="PARENT_COMT"/>
	</resultMap>
	
	<select id="count" resultType="Integer">
		/* 사진 댓글 수 가져오기 */
		SELECT
			count(*)
		FROM TB_CHANGOOS_PHOTO_COMT
		WHERE PHOTO_SEQ = #{photoSeq} 
	</select>
	
	<select id="list" resultMap="photoComtResultMap" parameterType="map">
		/* 사진 댓글 리스트 */
		SELECT
			*
		FROM TB_CHANGOOS_PHOTO_COMT
		WHERE PHOTO_SEQ = #{photoSeq}
		ORDER BY CONCAT(IF(PARENT_COMT is null, COALESCE(PARENT_COMT, ''), CONCAT('_', LPAD(PARENT_COMT,6,'0')) ), '_',LPAD(COMT_SEQ,6,'0'))
	</select>
	
	<select id="get" resultMap="photoComtResultMap" parameterType="Integer">
		/* 사진 댓글 가져오기 */
		SELECT
			*
		FROM TB_CHANGOOS_PHOTO_COMT
		WHERE COMT_SEQ = #{seq}
	</select>
	
	<insert id="insert">
		/* 사진 댓글 추가하기 */
		INSERT TB_CHANGOOS_PHOTO_COMT (
			PHOTO_SEQ,
			COMT_USERNAME,
			COMT_PWD,
			COMT_CONTENTS,
			COMT_DATE,
			PARENT_COMT
		)
		VALUES (
			#{photoSeq},
			#{username},
			#{password},
			#{contents},
			#{date},
			#{parentSeq}
		)
	</insert>
	
	<delete id="delete">
		/* 사진 댓글 삭제하기*/
		DELETE FROM TB_CHANGOOS_PHOTO_COMT
		WHERE COMT_SEQ = #{seq}
	</delete>
	
</mapper>