<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cglee079.changoos.mapper.PhotoMapper">
	<resultMap type="PhotoVo" id="photoResultMap">
		<id property="seq" column="PHOTO_SEQ"/>
		<result property="filename" column="PHOTO_FILENM"/>
		<result property="pathname" column="PHOTO_PATHNM"/>
		<result property="thumbnail" column="PHOTO_THUMB"/>
		<result property="name" column="PHOTO_NAME"/>
		<result property="desc" column="PHOTO_DESC"/>
		<result property="location" column="PHOTO_LOC"/>
		<result property="date" column="PHOTO_DATE"/>
		<result property="time" column="PHOTO_TIME"/>
		<result property="tag" column="PHOTO_TAG"/>
		<result property="device" column="PHOTO_DEVICE"/>
		<result property="likeCnt" column="PHOTO_LIKECNT"/>
	</resultMap>
	
	<select id="S01" resultMap="photoResultMap" parameterType="Integer">
		SELECT
			*
		FROM TB_CHANGOOS_PHOTO
		WHERE PHOTO_SEQ = #{seq}
	</select>
	
	<select id="S02" resultMap="photoResultMap">
		SELECT
			*
		FROM TB_CHANGOOS_PHOTO
		<choose>
		<when test="sort != null">
		ORDER BY ${sort} ${order}
		</when>
		<otherwise>
		ORDER BY PHOTO_DATE DESC, PHOTO_TIME DESC, PHOTO_SEQ DESC
		</otherwise>
		</choose>
	</select>
	
	<select id="S03" resultType="Integer">
		SELECT
		PHOTO_SEQ as "seq"
		FROM TB_CHANGOOS_PHOTO
		ORDER BY PHOTO_DATE DESC, PHOTO_TIME DESC, PHOTO_SEQ DESC
	</select>
	
	<delete id="delete">
		/* 사진 삭제하기*/
		DELETE FROM TB_CHANGOOS_PHOTO
		WHERE PHOTO_SEQ = #{seq}
	</delete>
	
	<insert id="insert">
		/* 사진 추가하기*/
		INSERT TB_CHANGOOS_PHOTO (
			PHOTO_FILENM, 
			PHOTO_PATHNM, 
			PHOTO_THUMB, 
			PHOTO_NAME, 
			PHOTO_DESC, 
			PHOTO_LOC, 
			PHOTO_DATE, 
			PHOTO_TIME, 
			PHOTO_TAG, 
			PHOTO_DEVICE, 
			PHOTO_LIKECNT
		)
		VALUES (
			#{filename}, 
			#{pathname}, 
			#{thumbnail}, 
			#{name}, 
			#{desc},
			#{location}, 
			#{date}, 
			#{time}, 
			#{tag}, 
			#{device}, 
			#{likeCnt}
		)
	</insert>
	
	<update id="update">
		/* 사진 수정하기*/
		UPDATE TB_CHANGOOS_PHOTO
		SET
		PHOTO_FILENM = #{filename},
		PHOTO_PATHNM = #{pathname},
		PHOTO_THUMB = #{thumbnail},
		PHOTO_NAME = #{name},
		PHOTO_DESC = #{desc},
		PHOTO_LOC = #{location},
		PHOTO_DATE = #{date},
		PHOTO_TIME = #{time},
		PHOTO_TAG = #{tag},
		PHOTO_DEVICE = #{device},
		PHOTO_LIKECNT = #{likeCnt}
		WHERE PHOTO_SEQ = #{seq}
	</update>
</mapper>