<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cglee079.changoos.mapper.PhotoMapper">
	
	<select id="S01" resultType="com.cglee079.changoos.model.PhotoVo" parameterType="Integer">
		SELECT
		PHOTO_SEQ as "seq",
		PHOTO_IMAGE as "image",
		PHOTO_SNAPSHT as "snapsht",
		PHOTO_NAME as "name",
		PHOTO_DESC as "desc",
		PHOTO_LOC as "location",
		PHOTO_DATE as "date",
		PHOTO_TIME as "time",
		PHOTO_TAG as "tag",
		PHOTO_DEVICE as "device",
		PHOTO_LIKECNT as "likeCnt"
		FROM TB_CHANGOOS_PHOTO
		WHERE PHOTO_SEQ = #{seq}
	</select>
	
	<select id="S02" resultType="com.cglee079.changoos.model.PhotoVo">
		SELECT
		PHOTO_SEQ as "seq",
		PHOTO_IMAGE as "image",
		PHOTO_SNAPSHT as "snapsht",
		PHOTO_NAME as "name",
		PHOTO_DESC as "desc",
		PHOTO_LOC as "location",
		PHOTO_DATE as "date",
		PHOTO_TIME as "time",
		PHOTO_TAG as "tag",
		PHOTO_DEVICE as "device",
		PHOTO_LIKECNT as "likeCnt"
		FROM TB_CHANGOOS_PHOTO
		<choose>
		<when test="sort != null">
		ORDER BY ${sort} ${order}
		</when>
		<otherwise>
		ORDER BY PHOTO_DATE DESC, PHOTO_TIME DESC, PHOTO_SEQ DESC
		</otherwise>
		</choose>
	</select>
	
	<select id="S03" resultType="Integer">
		SELECT
		PHOTO_SEQ as "seq"
		FROM TB_CHANGOOS_PHOTO
		ORDER BY PHOTO_DATE DESC, PHOTO_TIME DESC, PHOTO_SEQ DESC
	</select>
	
	<delete id="delete">
		/* 사진 삭제하기*/
		DELETE FROM TB_CHANGOOS_PHOTO
		WHERE PHOTO_SEQ = #{seq}
	</delete>
	
	<insert id="insert">
		/* 사진 추가하기*/
		INSERT TB_CHANGOOS_PHOTO (PHOTO_IMAGE, PHOTO_SNAPSHT, PHOTO_NAME, PHOTO_DESC, PHOTO_LOC, PHOTO_DATE, PHOTO_TIME, PHOTO_TAG, PHOTO_DEVICE, PHOTO_LIKECNT)
		VALUES (#{image}, #{snapsht}, #{name}, #{desc}, #{location}, #{date}, #{time}, #{tag}, #{device}, #{likeCnt})
	</insert>
	
	<update id="update">
		/* 사진 수정하기*/
		UPDATE TB_CHANGOOS_PHOTO
		SET
		PHOTO_IMAGE = #{image},
		PHOTO_SNAPSHT = #{snapsht},
		PHOTO_NAME = #{name},
		PHOTO_DESC = #{desc},
		PHOTO_LOC = #{location},
		PHOTO_DATE = #{date},
		PHOTO_TIME = #{time},
		PHOTO_TAG = #{tag},
		PHOTO_DEVICE = #{device},
		PHOTO_LIKECNT = #{likeCnt}
		WHERE PHOTO_SEQ = #{seq}
	</update>
</mapper>