<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cglee079.changoos.mapper.PhotoComtMapper">
	<select id="count" resultType="Integer">
		SELECT
			count(*)
		FROM TB_PTFOLIO_PHOTO_COMTS
		WHERE PCOMT_PHOTO_SEQ = #{photoSeq} 
	</select>
	
	<select id="list" resultType="com.cglee079.changoos.model.PhotoComtVo" parameterType="map">
		SELECT
		PCOMT_SEQ as "seq",
		PCOMT_PHOTO_SEQ as "photoSeq",
		PCOMT_NAME as "name",
		PCOMT_PWD as "password",
		PCOMT_CONTENTS as "contents",
		PCOMT_DATE as "date",
		PCOMT_PARENT_SEQ as "parentSeq"
		FROM TB_PTFOLIO_PHOTO_COMTS
		WHERE PCOMT_PHOTO_SEQ = #{photoSeq}
		ORDER BY CONCAT(IF(PCOMT_PARENT_SEQ is null, COALESCE(PCOMT_PARENT_SEQ, ''), CONCAT('_', LPAD(PCOMT_PARENT_SEQ,6,'0')) ), '_',LPAD(PCOMT_SEQ,6,'0'))
	</select>
	
	<select id="get" resultType="com.cglee079.changoos.model.PhotoComtVo" parameterType="Integer">
		SELECT
		PCOMT_SEQ as "seq",
		PCOMT_PHOTO_SEQ as "photoSeq",
		PCOMT_NAME as "name",
		PCOMT_PWD as "password",
		PCOMT_CONTENTS as "contents",
		PCOMT_DATE as "DATE",
		PCOMT_PARENT_SEQ as "parentSeq"
		FROM TB_PTFOLIO_PHOTO_COMTS
		WHERE PCOMT_SEQ = #{seq}
	</select>
	
	<insert id="insert">
		INSERT TB_PTFOLIO_PHOTO_COMTS 
		(PCOMT_PHOTO_SEQ, PCOMT_NAME, PCOMT_PWD, PCOMT_CONTENTS, PCOMT_DATE, PCOMT_PARENT_SEQ)
		VALUES (#{photoSeq}, #{name}, #{password}, #{contents}, #{date}, #{parentSeq});
	</insert>
	
	<delete id="delete">
		DELETE FROM TB_PTFOLIO_PHOTO_COMTS
		WHERE PCOMT_SEQ = #{seq}
	</delete>
	
	<update id="update" parameterType="map">
		UPDATE TB_PTFOLIO_PHOTO_COMTS
		SET 
		PCOMT_CONTENTS = #{contents}
		WHERE PCOMT_SEQ = #{seq}
	</update>
	
</mapper>