<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cglee079.changoos.mapper.PhotoComtMapper">
	<select id="count" resultType="Integer">
		/* 사진 댓글 수 가져오기 */
		SELECT
			count(*)
		FROM TB_CHANGOOS_PHOTO_COMT
		WHERE PHOTO_SEQ = #{photoSeq} 
	</select>
	
	<select id="list" resultType="com.cglee079.changoos.model.PhotoComtVo" parameterType="map">
		/* 사진 댓글 리스트 */
		SELECT
		COMT_SEQ as "seq",
		PHOTO_SEQ as "photoSeq",
		COMT_USERNAME as "username",
		COMT_PWD as "password",
		COMT_CONTENTS as "contents",
		COMT_DATE as "date",
		PARENT_COMT as "parentSeq"
		FROM TB_CHANGOOS_PHOTO_COMT
		WHERE PHOTO_SEQ = #{photoSeq}
		ORDER BY CONCAT(IF(PARENT_COMT is null, COALESCE(PARENT_COMT, ''), CONCAT('_', LPAD(PARENT_COMT,6,'0')) ), '_',LPAD(COMT_SEQ,6,'0'))
	</select>
	
	<select id="get" resultType="com.cglee079.changoos.model.PhotoComtVo" parameterType="Integer">
		/* 사진 댓글 가져오기 */
		SELECT
		COMT_SEQ as "seq",
		PHOTO_SEQ as "photoSeq",
		COMT_USERNAME as "username",
		COMT_PWD as "password",
		COMT_CONTENTS as "contents",
		COMT_DATE as "DATE",
		PARENT_COMT as "parentSeq"
		FROM TB_CHANGOOS_PHOTO_COMT
		WHERE COMT_SEQ = #{seq}
	</select>
	
	<insert id="insert">
		/* 사진 댓글 추가하기 */
		INSERT TB_CHANGOOS_PHOTO_COMT 
		(PHOTO_SEQ, COMT_USERNAME, COMT_PWD, COMT_CONTENTS, COMT_DATE, PARENT_COMT)
		VALUES (#{photoSeq}, #{username}, #{password}, #{contents}, #{date}, #{parentSeq});
	</insert>
	
	<delete id="delete">
		/* 사진 댓글 삭제하기*/
		DELETE FROM TB_CHANGOOS_PHOTO_COMT
		WHERE COMT_SEQ = #{seq}
	</delete>
	
	<update id="update" parameterType="map">
		/* 사진 댓글 수정하기 */
		UPDATE TB_CHANGOOS_PHOTO_COMT
		SET 
		COMT_CONTENTS = #{contents}
		WHERE COMT_SEQ = #{seq}
	</update>
	
</mapper>