<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cglee079.changoos.mapper.ProjectMapper">
	<select id="get" resultType="com.cglee079.changoos.model.ProjectVo" parameterType="Integer">
		SELECT
		A.PROJ_SEQ as "seq",
		PROJ_TITLE as "title",
		PROJ_SUBTITLE as "subtitle",
		PROJ_DESC as "desc",
		PROJ_CONTENTS as "contents",
		PROJ_THUMB as "thumbnail",
		PROJ_SOURCECD as "sourcecode",
		PROJ_DEVELOPER as "developer",
		PROJ_HITS as "hits",
		PROJ_ENABLED as "enabled",
		count(B.COMT_SEQ) as 'comtCnt'
		FROM TB_CHANGOOS_PROJECT A LEFT OUTER JOIN TB_CHANGOOS_PROJECT_COMT B ON A.PROJ_SEQ = B.PROJ_SEQ
		WHERE A.PROJ_SEQ = #{seq}
		GROUP BY A.PROJ_SEQ
	</select>
	
	<select id="list" resultType="com.cglee079.changoos.model.ProjectVo">
		SELECT
		A.PROJ_SEQ as "seq",
		PROJ_TITLE as "title",
		PROJ_SUBTITLE as "subtitle",
		PROJ_DESC as "desc",
		PROJ_CONTENTS as "contents",
		PROJ_THUMB as "thumbnail",
		PROJ_SOURCECD as "sourcecode",
		PROJ_DEVELOPER as "developer",
		PROJ_HITS as "hits",
		PROJ_ENABLED as "enabled",
		count(B.COMT_SEQ) as 'comtCnt'
		FROM TB_CHANGOOS_PROJECT A LEFT OUTER JOIN TB_CHANGOOS_PROJECT_COMT B ON A.PROJ_SEQ = B.PROJ_SEQ
		<trim prefix="WHERE" prefixOverrides="AND |OR "> 
		<if test="enabled != null">
 		<![CDATA[AND PROJ_ENABLED = #{enabled}]]>
  		</if>
  		</trim>
		GROUP BY A.PROJ_SEQ
		<choose>
		<when test="sort != null">
		ORDER BY ${sort} ${order}
		</when>
		<otherwise>
		ORDER BY A.PROJ_SEQ DESC
		</otherwise>
		</choose>
	</select>
	
	<select id="getBefore" resultType="com.cglee079.changoos.model.ProjectVo" parameterType="Integer">
		SELECT
		A.PROJ_SEQ as "seq",
		PROJ_TITLE as "title",
		PROJ_SUBTITLE as "subtitle",
		PROJ_DESC as "desc",
		PROJ_CONTENTS as "contents",
		PROJ_THUMB as "thumbnail",
		PROJ_SOURCECD as "sourcecode",
		PROJ_DEVELOPER as "developer",
		PROJ_HITS as "hits",
		PROJ_ENABLED as "enabled",
		count(B.COMT_SEQ) as 'comtCnt'
		FROM TB_CHANGOOS_PROJECT A LEFT OUTER JOIN TB_CHANGOOS_PROJECT_COMT B ON A.PROJ_SEQ = B.PROJ_SEQ
		WHERE <![CDATA[A.PROJ_SEQ > #{seq}]]> 
		GROUP BY A.PROJ_SEQ
		ORDER BY A.PROJ_SEQ ASC
		LIMIT 1
	</select>
	
	<select id="getAfter" resultType="com.cglee079.changoos.model.ProjectVo" parameterType="Integer">
		SELECT
		A.PROJ_SEQ as "seq",
		PROJ_TITLE as "title",
		PROJ_SUBTITLE as "subtitle",
		PROJ_DESC as "desc",
		PROJ_CONTENTS as "contents",
		PROJ_THUMB as "thumbnail",
		PROJ_SOURCECD as "sourcecode",
		PROJ_DEVELOPER as "developer",
		PROJ_HITS as "hits",
		PROJ_ENABLED as "enabled",
		count(B.COMT_SEQ) as 'comtCnt'
		FROM TB_CHANGOOS_PROJECT A LEFT OUTER JOIN TB_CHANGOOS_PROJECT_COMT B ON A.PROJ_SEQ = B.PROJ_SEQ
		WHERE <![CDATA[A.PROJ_SEQ < #{seq}]]> 
		GROUP BY A.PROJ_SEQ
		ORDER BY A.PROJ_SEQ DESC
		LIMIT 1
	</select>
	
	<delete id="delete">
		DELETE FROM TB_CHANGOOS_PROJECT
		WHERE PROJ_SEQ = #{seq}
	</delete>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="seq" parameterType="com.cglee079.changoos.model.ProjectVo">
		INSERT TB_CHANGOOS_PROJECT 
		(PROJ_TITLE, PROJ_SUBTITLE, PROJ_DESC, PROJ_CONTENTS, PROJ_THUMB, PROJ_SOURCECD, PROJ_DEVELOPER, PROJ_HITS, PROJ_ENABLED)
		VALUES (#{title}, #{subtitle}, #{desc}, #{contents}, #{thumbnail}, #{sourcecode},#{developer}, #{hits}, #{enabled})
	</insert>
	
	<update id="update">
		UPDATE TB_CHANGOOS_PROJECT
		SET 
		PROJ_TITLE = #{title},
		PROJ_SUBTITLE = #{subtitle},
		PROJ_DESC = #{desc},
		PROJ_CONTENTS = #{contents},
		PROJ_THUMB = #{thumbnail},
		PROJ_SOURCECD = #{sourcecode},
		PROJ_DEVELOPER = #{developer},
		PROJ_HITS = #{hits},
		PROJ_ENABLED = #{enabled}
		WHERE PROJ_SEQ = #{seq}
	</update>
	
	
</mapper>