<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cglee079.changoos.mapper.ProjectMapper">
	<select id="list" resultType="com.cglee079.changoos.model.ProjectVo">
		SELECT
		PROJ_SEQ as "seq",
		PROJ_SORT as "sort",
		PROJ_TITLE as "title",
		PROJ_SECT as "sect",
		PROJ_DESC as "desc",
		PROJ_SNAPSHT as "snapsht",
		PROJ_HASVIDEO as "video",
		PROJ_DATE as "date",
		PROJ_SOURCECD as "sourcecode",
		PROJ_DEVELOPER as "developer",
		PROJ_HITS as "hits",
		count(B.PCOMT_SEQ) as 'comtCnt'
		FROM TB_PTFOLIO_PROJECTS A LEFT OUTER JOIN TB_PTFOLIO_PROJECT_COMTS B ON A.PROJ_SEQ = B.PCOMT_BOARD_SEQ
		GROUP BY A.PROJ_SEQ
		ORDER BY PROJ_SORT
	</select>
	
	<select id="get" resultType="com.cglee079.changoos.model.ProjectVo" parameterType="Integer">
		SELECT
		PROJ_SEQ as "seq",
		PROJ_SORT as "sort",
		PROJ_TITLE as "title",
		PROJ_SECT as "sect",
		PROJ_DESC as "desc",
		PROJ_CONTENTS as "contents",
		PROJ_SNAPSHT as "snapsht",
		PROJ_HASVIDEO as "video",
		PROJ_DATE as "date",
		PROJ_SOURCECD as "sourcecode",
		PROJ_DEVELOPER as "developer",
		PROJ_HITS as "hits",
		count(B.PCOMT_SEQ) as 'comtCnt'
		FROM TB_PTFOLIO_PROJECTS A LEFT OUTER JOIN TB_PTFOLIO_PROJECT_COMTS B ON A.PROJ_SEQ = B.PCOMT_BOARD_SEQ
		WHERE PROJ_SEQ = #{seq}
		GROUP BY A.PROJ_SEQ
		ORDER BY PROJ_SORT
		
	</select>
	
	<select id="getBefore" resultType="com.cglee079.changoos.model.ProjectVo" parameterType="Integer">
		SELECT
		PROJ_SEQ as "seq",
		PROJ_SORT as "sort",
		PROJ_TITLE as "title",
		PROJ_SECT as "sect",
		PROJ_DESC as "desc",
		PROJ_CONTENTS as "contents",
		PROJ_SNAPSHT as "snapsht",
		PROJ_HASVIDEO as "video",
		PROJ_DATE as "date",
		PROJ_SOURCECD as "sourcecode",
		PROJ_DEVELOPER as "developer",
		PROJ_HITS as "hits",
		count(B.PCOMT_SEQ) as 'comtCnt'
		FROM TB_PTFOLIO_PROJECTS A LEFT OUTER JOIN TB_PTFOLIO_PROJECT_COMTS B ON A.PROJ_SEQ = B.PCOMT_BOARD_SEQ
		WHERE <![CDATA[PROJ_SORT < #{sort}]]> 
		GROUP BY A.PROJ_SEQ
		ORDER BY PROJ_SORT DESC
		LIMIT 1
	</select>
	
	<select id="getAfter" resultType="com.cglee079.changoos.model.ProjectVo" parameterType="Integer">
		SELECT
		PROJ_SEQ as "seq",
		PROJ_SORT as "sort",
		PROJ_TITLE as "title",
		PROJ_SECT as "sect",
		PROJ_DESC as "desc",
		PROJ_CONTENTS as "contents",
		PROJ_SNAPSHT as "snapsht",
		PROJ_HASVIDEO as "video",
		PROJ_DATE as "date",
		PROJ_SOURCECD as "sourcecode",
		PROJ_DEVELOPER as "developer",
		PROJ_HITS as "hits",
		count(B.PCOMT_SEQ) as 'comtCnt'
		FROM TB_PTFOLIO_PROJECTS A LEFT OUTER JOIN TB_PTFOLIO_PROJECT_COMTS B ON A.PROJ_SEQ = B.PCOMT_BOARD_SEQ
		WHERE <![CDATA[PROJ_SORT > #{sort}]]> 
		GROUP BY A.PROJ_SEQ
		ORDER BY PROJ_SORT ASC
		LIMIT 1
	</select>
	
	<delete id="delete">
		DELETE FROM TB_PTFOLIO_PROJECTS
		WHERE PROJ_SEQ = #{seq}
	</delete>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="seq" parameterType="com.cglee079.changoos.model.ProjectVo">
		INSERT TB_PTFOLIO_PROJECTS 
		(PROJ_SORT, PROJ_TITLE, PROJ_SECT, PROJ_DESC, PROJ_CONTENTS, PROJ_SNAPSHT, PROJ_HASVIDEO, PROJ_DATE, PROJ_SOURCECD, PROJ_DEVELOPER, PROJ_HITS)
		VALUES (#{sort}, #{title}, #{sect}, #{desc}, #{contents}, #{snapsht}, #{video}, #{date}, #{sourcecode},#{developer}, #{hits})
	</insert>
	
	<update id="update">
		UPDATE TB_PTFOLIO_PROJECTS
		SET 
		PROJ_SORT = #{sort},
		PROJ_TITLE = #{title},
		PROJ_SECT = #{sect},
		PROJ_DESC = #{desc},
		PROJ_CONTENTS = #{contents},
		PROJ_SNAPSHT = #{snapsht},
		PROJ_HASVIDEO = #{video},
		PROJ_DATE = #{date},
		PROJ_SOURCECD = #{sourcecode},
		PROJ_DEVELOPER = #{developer},
		PROJ_HITS = #{hits}
		WHERE PROJ_SEQ = #{seq}
	</update>
	
	
</mapper>