<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cglee079.changoos.mapper.ProjectMapper">
	<select id="get" resultType="com.cglee079.changoos.model.ProjectVo" parameterType="Integer">
		SELECT
		PROJ_SEQ as "seq",
		PROJ_TITLE as "title",
		PROJ_SUBTITLE as "subtitle",
		PROJ_DESC as "desc",
		PROJ_CONTENTS as "contents",
		PROJ_SNAPSHT as "snapsht",
		PROJ_SOURCECD as "sourcecode",
		PROJ_DEVELOPER as "developer",
		PROJ_HITS as "hits",
		count(B.PCOMT_SEQ) as 'comtCnt'
		FROM TB_PTFOLIO_PROJECT A LEFT OUTER JOIN TB_PTFOLIO_PROJECT_COMT B ON A.PROJ_SEQ = B.PCOMT_PROJ_SEQ
		WHERE PROJ_SEQ = #{seq}
		GROUP BY A.PROJ_SEQ
	</select>
	
	<select id="list" resultType="com.cglee079.changoos.model.ProjectVo">
		SELECT
		PROJ_SEQ as "seq",
		PROJ_TITLE as "title",
		PROJ_SUBTITLE as "subtitle",
		PROJ_DESC as "desc",
		PROJ_SNAPSHT as "snapsht",
		PROJ_SOURCECD as "sourcecode",
		PROJ_DEVELOPER as "developer",
		PROJ_HITS as "hits",
		count(B.PCOMT_SEQ) as 'comtCnt'
		FROM TB_PTFOLIO_PROJECT A LEFT OUTER JOIN TB_PTFOLIO_PROJECT_COMT B ON A.PROJ_SEQ = B.PCOMT_PROJ_SEQ
		GROUP BY A.PROJ_SEQ
		<choose>
		<when test="sort != null">
		ORDER BY ${sort} ${order}
		</when>
		<otherwise>
		ORDER BY PROJ_SEQ DESC
		</otherwise>
		</choose>
	</select>
	
	<select id="getBefore" resultType="com.cglee079.changoos.model.ProjectVo" parameterType="Integer">
		SELECT
		PROJ_SEQ as "seq",
		PROJ_TITLE as "title",
		PROJ_SUBTITLE as "subtitle",
		PROJ_DESC as "desc",
		PROJ_CONTENTS as "contents",
		PROJ_SNAPSHT as "snapsht",
		PROJ_SOURCECD as "sourcecode",
		PROJ_DEVELOPER as "developer",
		PROJ_HITS as "hits",
		count(B.PCOMT_SEQ) as 'comtCnt'
		FROM TB_PTFOLIO_PROJECT A LEFT OUTER JOIN TB_PTFOLIO_PROJECT_COMT B ON A.PROJ_SEQ = B.PCOMT_PROJ_SEQ
		WHERE <![CDATA[PROJ_SEQ > #{seq}]]> 
		GROUP BY A.PROJ_SEQ
		ORDER BY PROJ_SEQ ASC
		LIMIT 1
	</select>
	
	<select id="getAfter" resultType="com.cglee079.changoos.model.ProjectVo" parameterType="Integer">
		SELECT
		PROJ_SEQ as "seq",
		PROJ_TITLE as "title",
		PROJ_SUBTITLE as "subtitle",
		PROJ_DESC as "desc",
		PROJ_CONTENTS as "contents",
		PROJ_SNAPSHT as "snapsht",
		PROJ_SOURCECD as "sourcecode",
		PROJ_DEVELOPER as "developer",
		PROJ_HITS as "hits",
		count(B.PCOMT_SEQ) as 'comtCnt'
		FROM TB_PTFOLIO_PROJECT A LEFT OUTER JOIN TB_PTFOLIO_PROJECT_COMT B ON A.PROJ_SEQ = B.PCOMT_PROJ_SEQ
		WHERE <![CDATA[PROJ_SEQ < #{seq}]]> 
		GROUP BY A.PROJ_SEQ
		ORDER BY PROJ_SEQ DESC
		LIMIT 1
	</select>
	
	<delete id="delete">
		DELETE FROM TB_PTFOLIO_PROJECT
		WHERE PROJ_SEQ = #{seq}
	</delete>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="seq" parameterType="com.cglee079.changoos.model.ProjectVo">
		INSERT TB_PTFOLIO_PROJECT 
		(PROJ_TITLE, PROJ_SUBTITLE, PROJ_DESC, PROJ_CONTENTS, PROJ_SNAPSHT, PROJ_SOURCECD, PROJ_DEVELOPER, PROJ_HITS)
		VALUES (#{title}, #{subtitle}, #{desc}, #{contents}, #{snapsht}, #{sourcecode},#{developer}, #{hits})
	</insert>
	
	<update id="update">
		UPDATE TB_PTFOLIO_PROJECT
		SET 
		PROJ_TITLE = #{title},
		PROJ_SUBTITLE = #{subtitle},
		PROJ_DESC = #{desc},
		PROJ_CONTENTS = #{contents},
		PROJ_SNAPSHT = #{snapsht},
		PROJ_SOURCECD = #{sourcecode},
		PROJ_DEVELOPER = #{developer},
		PROJ_HITS = #{hits}
		WHERE PROJ_SEQ = #{seq}
	</update>
	
	
</mapper>