<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cglee079.changoos.mapper.ProjectFileMapper">
	<select id="count" resultType="Integer">
	</select>
	
	<select id="list" resultType="com.cglee079.changoos.model.FileVo" parameterType="Integer">
		SELECT 
		FILE_SEQ as 'seq',
		PROJ_SEQ as 'boardSeq',
		FILE_FILENM as 'filename',
		FILE_PATHNM as 'pathname',
		FILE_SIZE	 as 'size'
		FROM TB_CHANGOOS_PROJECT_FILE
		WHERE PROJ_SEQ = #{boardSeq}
	</select>
	
	<select id="get" resultType="com.cglee079.changoos.model.FileVo" parameterType="map">
		SELECT 
		FILE_SEQ as 'seq',
		PROJ_SEQ as 'boardSeq',
		FILE_PATHNM as 'pathname',
		FILE_FILENM as 'filename',
		FILE_SIZE as 'size'
		FROM TB_CHANGOOS_PROJECT_FILE
		<trim prefix="WHERE" prefixOverrides="AND |OR "> 
		<if test="pathname != null">
  		AND FILE_PATHNM = #{pathname} 
  		</if>
  		<if test="seq != null">
  		AND FILE_SEQ = #{seq} 
  		</if>
  		</trim>
	</select>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="seq" parameterType="com.cglee079.changoos.model.FileVo">
		INSERT TB_CHANGOOS_PROJECT_FILE 
		(PROJ_SEQ, FILE_PATHNM, FILE_FILENM, FILE_SIZE)
		VALUES (#{boardSeq}, #{pathname}, #{filename}, #{size})
	</insert>
	
	<delete id="delete" parameterType="Integer">
		DELETE FROM TB_CHANGOOS_PROJECT_FILE
		WHERE FILE_SEQ = #{seq}
	</delete>	
	
	
</mapper>