<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cglee079.changoos.mapper.StudyComtMapper">
	
	<select id="count" resultType="Integer">
		SELECT
			count(*)
		FROM TB_PTFOLIO_STUDY_COMT
		WHERE SCOMT_STUDY_SEQ = #{studySeq}
	</select>
	
	<select id="list" resultType="com.cglee079.changoos.model.StudyComtVo" parameterType="map">
		SELECT
		SCOMT_SEQ as "seq",
		SCOMT_STUDY_SEQ as "studySeq",
		SCOMT_NAME as "name",
		SCOMT_PWD as "password",
		SCOMT_CONTENTS as "contents",
		SCOMT_DATE as "date",
		SCOMT_PARENT_SEQ as "parentSeq"
		FROM TB_PTFOLIO_STUDY_COMT
		WHERE SCOMT_STUDY_SEQ = #{studySeq}
		ORDER BY CONCAT(IF(SCOMT_PARENT_SEQ is null, COALESCE(SCOMT_PARENT_SEQ, ''), CONCAT('_', LPAD(SCOMT_PARENT_SEQ,6,'0')) ), '_',LPAD(SCOMT_SEQ,6,'0'))
		LIMIT #{startRow}, #{perPgLine}
	</select>
	
	<select id="get" resultType="com.cglee079.changoos.model.StudyComtVo" parameterType="Integer">
		SELECT
		SCOMT_SEQ as "seq",
		SCOMT_STUDY_SEQ as "studySeq",
		SCOMT_NAME as "name",
		SCOMT_PWD as "password",
		SCOMT_CONTENTS as "contents",
		SCOMT_DATE as "DATE",
		SCOMT_PARENT_SEQ as "parentSeq"
		FROM TB_PTFOLIO_STUDY_COMT
		WHERE SCOMT_SEQ = #{seq}
	</select>
	
	<insert id="insert">
		INSERT TB_PTFOLIO_STUDY_COMT 
		(SCOMT_STUDY_SEQ, SCOMT_NAME, SCOMT_PWD, SCOMT_CONTENTS, SCOMT_DATE, SCOMT_PARENT_SEQ)
		VALUES (#{studySeq}, #{name}, #{password}, #{contents}, #{date}, #{parentSeq});
	</insert>
	
	<delete id="delete">
		DELETE FROM TB_PTFOLIO_STUDY_COMT
		WHERE SCOMT_SEQ = #{seq}
	</delete>
	
	<update id="update" parameterType="map">
		UPDATE TB_PTFOLIO_STUDY_COMT
		SET 
		SCOMT_CONTENTS = #{contents}
		WHERE SCOMT_SEQ = #{seq}
	</update>
	
</mapper>