<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cglee079.changoos.mapper.StudyMapper">
	<resultMap type="StudyVo" id="studyResultMap">
		<id property="seq" column="STUDY_SEQ"/>
		<result property="category" column="STUDY_CATEGORY"/>
		<result property="codeLang" column="STUDY_CODE_LANG"/>
		<result property="title" column="STUDY_TITLE"/>
		<result property="contents" column="STUDY_CONTENTS"/>
		<result property="date" column="STUDY_DATE"/>
		<result property="hits" column="STUDY_HITS"/>
		<result property="enabled" column="STUDY_ENABLED"/>
		<result property="comtCnt" column="comtCnt" />
		
		<collection property="images" ofType="BoardImageVo">
			<id property="seq" column="IMG_SEQ" />
			<result property="editorID" column="EDITOR_ID"/>
			<result property="pathname" column="IMG_PATHNM"/>
			<result property="filename" column="IMG_FILENM"/>
		</collection>
		
		<collection property="files" ofType="BoardFileVo">
			<id property="seq" column="FILE_SEQ"/>
			<result property="pathname" column="FILE_PATHNM"/>
			<result property="filename" column="FILE_FILENM"/>
			<result property="size" column="FILE_SIZE"/>
		</collection>
	</resultMap>
	
	<select id="count" resultType="Integer" parameterType="map">
		/* 게시글 개수 */
		SELECT
			count(*)
		FROM TB_CHANGOOS_STUDY
		<trim prefix="WHERE" prefixOverrides="AND |OR "> 
		<if test="category != null and category != ''">
 		<![CDATA[AND UPPER(STUDY_CATEGORY) = UPPER(#{category})]]>
  		</if>
  		<if test="searchValue != null and searchValue != ''">
 		<![CDATA[AND UPPER(STUDY_TITLE) LIKE CONCAT('%', UPPER(#{searchValue}), '%')]]>
  		</if>
  		</trim>
	</select>
	
	<select id="get" resultMap="studyResultMap" parameterType="Integer">
		/* 게시글 가져오기 */
		SELECT
			A.*,
			B.*,
			C.*,
			D.comtCnt
		FROM 
			TB_CHANGOOS_STUDY A 
			LEFT JOIN TB_CHANGOOS_STUDY_IMAGE B ON STUDY_SEQ = B.BOARD_SEQ
			LEFT JOIN TB_CHANGOOS_STUDY_FILE C ON STUDY_SEQ = C.BOARD_SEQ
			LEFT JOIN 
			(SELECT BOARD_SEQ, COUNT(COMT_SEQ) as 'comtCnt'
			FROM TB_CHANGOOS_STUDY_COMT
			GROUP BY BOARD_SEQ) D
			ON STUDY_SEQ = D.BOARD_SEQ
		WHERE 
			STUDY_SEQ = #{seq}
	</select>
	
	<select id="getBefore" resultMap="studyResultMap" parameterType="map">
		/* 이전 게시글 가져오기 */
		SELECT
			A.*
		FROM 
			TB_CHANGOOS_STUDY A 
		<trim prefix="WHERE" prefixOverrides="AND |OR "> 
		<![CDATA[AND STUDY_ENABLED = true]]>
		<![CDATA[AND STUDY_SEQ < #{seq}]]>  
		<if test="category != ''">
 		<![CDATA[AND UPPER(STUDY_CATEGORY) = UPPER(#{category})]]>
  		</if>
  		</trim>
		ORDER BY STUDY_SEQ DESC LIMIT 1
	</select>
	
	<select id="getAfter" resultMap="studyResultMap" parameterType="map">
		/* 다음 게시글 가져오기 */
		SELECT
			A.*
		FROM 
			TB_CHANGOOS_STUDY A 
		<trim prefix="WHERE" prefixOverrides="AND |OR "> 
		AND STUDY_ENABLED = true
		<![CDATA[AND STUDY_SEQ > #{seq}]]>
		<if test="category != null and category != ''">
 		AND UPPER(STUDY_CATEGORY) = UPPER(#{category})
  		</if>
  		</trim>
		ORDER BY STUDY_SEQ ASC LIMIT 1
	</select>
	
	<select id="list" resultMap="studyResultMap" parameterType="map" >
		/* 게시글 리스트 */
		SELECT
			A.*,
			B.comtCnt
		FROM 
			TB_CHANGOOS_STUDY A
			LEFT JOIN 
			(SELECT BOARD_SEQ, COUNT(COMT_SEQ) as 'comtCnt'
			FROM TB_CHANGOOS_STUDY_COMT
			GROUP BY BOARD_SEQ) B
			ON STUDY_SEQ = B.BOARD_SEQ
		<trim prefix="WHERE" prefixOverrides="AND |OR "> 
			<if test="enabled != null">
	 		AND STUDY_ENABLED = #{enabled}
	  		</if>
			<if test="category != null and category != ''">
	 		AND UPPER(STUDY_CATEGORY) = UPPER(#{category})
	  		</if>
	  		<if test="searchValue != null and searchValue != ''">
	 		AND UPPER(STUDY_TITLE) LIKE CONCAT('%', UPPER(#{searchValue}), '%')
	  		</if>
  		</trim>
  		
  		<choose>
		<when test="sort == 'seq'"> 	ORDER BY STUDY_SEQ ${order} </when>
		<when test="sort == 'category'">ORDER BY STUDY_CATEGORY ${order} </when>
		<when test="sort == 'title'"> 	ORDER BY STUDY_TITLE ${order} </when>
		<when test="sort == 'codeLang'">ORDER BY STUDY_CODE_LANG ${order} </when>
		<when test="sort == 'date'">	ORDER BY STUDY_DATE ${order} </when>
		<when test="sort == 'hits'">	ORDER BY STUDY_HITS ${order} </when>
		<when test="sort == 'comtCnt'"> ORDER BY comtCnt ${order} </when>
		<otherwise>
		ORDER BY STUDY_DATE DESC, STUDY_SEQ DESC
		</otherwise>
		</choose>
		
		<if test="startRow != null and perPgLine != null">
 		LIMIT ${startRow}, ${perPgLine}
  		</if>
	</select>
	
	<select id="getCategories" resultType="String">
		SELECT STUDY_CATEGORY 
		FROM TB_CHANGOOS_STUDY
		GROUP BY STUDY_CATEGORY
		ORDER BY STUDY_CATEGORY ASC
	</select>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="seq" >
		INSERT TB_CHANGOOS_STUDY (
			STUDY_CATEGORY, 
			STUDY_CODE_LANG, 
			STUDY_TITLE, 
			STUDY_CONTENTS, 
			STUDY_DATE, 
			STUDY_HITS, 
			STUDY_ENABLED
		)
		VALUES (	
			#{category}, 
			#{codeLang}, 
			#{title},
			#{contents}, 
			#{date}, 
			#{hits}, 
			#{enabled}
		)
	</insert>
	
	<delete id="delete">
		DELETE FROM TB_CHANGOOS_STUDY
		WHERE STUDY_SEQ = #{seq}
	</delete>
	
	<update id="update">
		UPDATE TB_CHANGOOS_STUDY
		SET 
		STUDY_CATEGORY = #{category},
		STUDY_CODE_LANG = #{codeLang},
		STUDY_TITLE = #{title},
		STUDY_CONTENTS = #{contents},
		STUDY_DATE = #{date},
		STUDY_HITS = #{hits},
		STUDY_ENABLED =  #{enabled}
		WHERE STUDY_SEQ = #{seq}
	</update>
	
</mapper>