<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cglee079.changoos.mapper.StudyFileMapper">
	<select id="count" resultType="Integer">
	</select>
	
	<select id="list" resultType="com.cglee079.changoos.model.StudyFileVo" parameterType="Integer">
		SELECT 
		FILE_SEQ as 'seq',
		STUDY_SEQ as 'studySeq',
		FILE_PATH as 'path',
		FILE_FILENM as 'filename',
		FILE_PATHNM as 'pathname',
		FILE_SIZE	 as 'size'
		FROM TB_PTFOLIO_STUDY_FILE
		WHERE STUDY_SEQ = #{studySeq}
	</select>
	
	<select id="get" resultType="com.cglee079.changoos.model.StudyFileVo" parameterType="map">
		SELECT 
		FILE_SEQ as 'seq',
		STUDY_SEQ as 'studySeq',
		FILE_PATH as 'path',
		FILE_FILENM as 'filename',
		FILE_PATHNM as 'pathname',
		FILE_SIZE	 as 'size'
		FROM TB_PTFOLIO_STUDY_FILE
		<trim prefix="WHERE" prefixOverrides="AND |OR "> 
		<if test="pathname != null">
  		AND FILE_PATHNM = #{pathname} 
  		</if>
  		<if test="seq != null">
  		AND FILE_SEQ = #{seq} 
  		</if>
  		</trim>
	</select>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="seq" parameterType="com.cglee079.changoos.model.StudyFileVo">
		INSERT TB_PTFOLIO_STUDY_FILE 
		(STUDY_SEQ, FILE_PATH, FILE_PATHNM, FILE_FILENM, FILE_SIZE)
		VALUES (#{studySeq}, #{path}, #{pathname}, #{filename}, #{size})
	</insert>
	
	<delete id="delete" parameterType="Integer">
		DELETE FROM TB_PTFOLIO_STUDY_FILE
		WHERE FILE_SEQ = #{seq}
	</delete>	
	
	
</mapper>