<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cglee079.changoos.mapper.StudyImageMapper">
	<insert id="insert" useGeneratedKeys="true" keyProperty="seq" parameterType="com.cglee079.changoos.model.ImageVo">
		INSERT TB_CHANGOOS_STUDY_IMAGE
		(STUDY_SEQ, EDITOR_ID, IMG_PATHNM, IMG_FILENM)
		VALUES (#{boardSeq}, #{editorID}, #{pathname}, #{filename})
	</insert>
	
	<select id="list" resultType="com.cglee079.changoos.model.ImageVo" parameterType="Integer">
		SELECT 
		IMG_SEQ as 'seq',
		STUDY_SEQ as 'boardSeq',
		EDITOR_ID as 'editorID',
		IMG_PATHNM as 'pathname',
		IMG_FILENM as 'filename',
		'BE' as "status"
		FROM TB_CHANGOOS_STUDY_IMAGE
		WHERE STUDY_SEQ = #{boardSeq}
	</select>
	
	<delete id="delete" parameterType="Integer">
		DELETE FROM TB_CHANGOOS_STUDY_IMAGE
		WHERE IMG_SEQ = #{seq}
	</delete>	
	
	
</mapper>