.wrap-board {
	width: 80%;
	margin: 0px auto;
	margin-top: 3rem;
}

.board-submenu {
	text-align: right;
	font-size: 0.6rem;
	margin-bottom: 0.2rem;
}

.board-submenu .btn {
	padding-left: 1rem;
}

.board-detail {
	border: 1px solid #DDD;
	background: #FFF;
	padding: 1rem;
}

.board-detail .board-title {
	font-size: 2rem;
	font-weight: bold;
}

.board-detail .board-info {
	text-align: right;
	font-size: 0.6rem;
	padding: 0.2rem;
}

.board-detail .board-info a {
	padding: 0 1rem;
}

.board-detail .board-contents {
	margin-top: 2rem;
}

.board-files {
	margin-top: 1rem;
}

.board-file {
	font-size: 0.6rem;
	color: #55F;
	margin: 0.2rem 0rem;
	text-align: right;
	cursor: pointer;
	text-decoration: underline;
}

@media ( max-width : 420px) {
	.wrap-board {
		width: 90%;
	}
}