.wrap-board {
	width: 60%;
	margin: 0 auto;
	padding: 2rem 0;
	min-height: 500;
}

.wrap-board .board-menu {
	display: flex;
	item-aligns: center;
	justify-content: space-between;
}

.board-list-item {
	padding: 2rem 0;
}

.board-item-title {
	color: #333;
	font-weight: bold;
	margin-bottom: 0.5rem;
	cursor: pointer;
}

.board-item-desc {
	font-size: 0.7rem;
	color: #888;
	margin-bottom: 0.5rem;
	max-height: 150px;
	overflow: hidden;
}

.board-item-info {
	display: flex;
	item-aligns: center;
	justify-content: space-between;
	font-size: 0.6rem;
}

.board-item-info-l {
	display: flex;
	color: #33F;
}

.board-item-info-r {
	color: #F00;
}

.board-search * {
	height: 1rem;
}

.board-search .search-submit {
	color: #FFF;
	width: 2rem;
	background: #666;
	cursor: pointer;
	font-size: 0.5rem;
}

.colum-border {
	width: 1px;
	height : 0.7rem;
	background: #DDD;
	margin: auto 0.5rem;
}

@media ( max-width : 420px) {
	.wrap-board {
		width: 80%;
	}
}