
.board-upload-form{
	margin-top : 30px;
	margin-bottom: 10rem;
	background: #FFF;
	border: 1px solid #DDD;
	padding : 1rem 5rem;
	font-size: 0.7rem;
}

.upload-form {
	width : 100%;
}

.board-upload-item{
	display: flex;
	flex-flow : row nowrap;
	margin-bottom : 0.5rem;
}

.board-upload-item .item-name{
	width : 10rem;
	font-size: 0.7rem;
	font-weight: bold;
}

.board-upload-item .item-input{
	flex : 1;
}

.board-upload-item .item-input input[type='text']{
	padding : 0.1rem;
	width : 50%;
}

.board-type {
	padding: 0.1rem;
}

.board-contents{
	height: 450px;
}

.board-submit{
	text-align: right;
}