.wrap-board {
	width : 85%;
	min-height : calc(100% - 50px);
	margin: 0 auto;
	margin-top: 2rem;
	
	display: flex;
	flex-flow: row nowrap;
}

.board-list{
	flex: 1;	
}

.board-list-item {
	position: relative;
	padding: 1.5rem 1rem 1.5rem 1rem;
	cursor: pointer;
	border-bottom : 1px solid #EEE;
}

.board-list-item .board-item-overlay {
	position: absolute;
	top: 0;
	right: 1rem;
	padding: 0.5rem 1rem;
	background-color: #000;
	z-index: 2;
	color: #fff;
	font-size: 0.75rem;
	transform-origin: 0 0;
	will-change: transform, opacity;
	transform: scaleY(0) translateZ(0);
	transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.board-list-item:HOVER .board-item-overlay {
	transform: scaleY(1) translateZ(0);
	transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.board-list-item .board-item-fg {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	background: rgba(0, 0, 0, 0.05);
	transform: scale(0);
}

.board-list-item:HOVER .board-item-fg {
	transform: scale(1);
}

.board-list-item .board-item-nosearch {
	text-align: center;
}

.board-list-item .board-item-title {
	color: #333;
	margin-bottom: 1.25rem;
	cursor: pointer;
	
	font-size 	: 1.25rem;
	font-weight	: bold;
}

.board-list-item .board-item-desc {
	font-size: 0.75rem;
	color: #888;
	margin-bottom: 0.5rem;
	max-height: 150px;
	overflow: hidden;
}

.board-list-item .board-item-info {
	display: flex;
	item-aligns: center;
	justify-content: space-between;
	font-size: .75rem;
}

.board-list-item .board-item-info .board-item-info-l {
	display: flex;
	opacity: 0.7;
}

.board-list-item .board-item-info .board-item-info-r {
	color: #F67;
}


.board-submenu{
	margin-left: 1rem;
	min-width: 20%;
}

.board-search {
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	height 	: 1.5rem;
	width	: 100%;
	margin-left: 1rem;
}

.board-search .search-type{
	display: none;
	border : none;
	background: none;
	padding : 0.25rem;
}

.board-search .search-value{
	border : 1px dotted #EEE;
	border-radius : 5px;
	background: #F2F2F2;
	margin-right:1rem;
	padding : 0.25rem;
	flex : 1;
}

.board-search .search-submit {
	height 	: 1rem;
	width	: 1rem;
	cursor	: pointer;
 	opacity :0.6;
 		
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.board-search .search-submit:hover{
	opacity: 1;
}

.board-sects {
	margin-top: 1.5rem;
}

.board-sects .board-sects-item {
	padding: 0 0.5rem 1.0rem 0.5rem;
	cursor: pointer;
	color: #0008;
	text-align: center;
	transition: font-size 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.board-sects .board-sects-item.on, .board-sects .board-sects-item:hover{
	color: #000;
	font-weight: bold;
	font-size : 1.25rem;
}


.board-pager{
	margin-top: 5rem;
	text-align: center;
}

.colum-border {
	width: 1px;
	height: 0.7rem;
	background: #DDD;
	margin: auto 0.5rem;
}

@media ( max-width : 720px) {
	.wrap-board {
		display: flex;
		flex-flow: column-reverse nowrap;
	}
	
	.board-search{
		margin-top : 1rem;
		margin-left: 0rem;
		margin-right: 0rem;
	}
	
	.board-sects {
		display: flex;
		justify-content: center;
	}
}