.wrap-board {
	width: 60%;
	margin: 0 auto;
	padding: 2rem 0;
	min-height: 500;
}

.wrap-board .board-menu {
	display: flex;
	item-aligns: center;
	justify-content: space-between;
}

.board-list-item {
	position : relative;
	padding: 1.5rem 1rem 1rem 1rem;
	margin: 1rem 0;
	background: #FFF;
	box-shadow: 0px 5px 5px #ECF0F1;
	cursor : pointer;
	width : 100%:
	/*border-left : 3px solid rgba(25, 181, 254, 0.5);*/
}

.board-list-item .board-item-overlay {
    position: absolute;
    top: 0;
    right: 1rem;
    padding: 0.5rem 1rem;
    background-color: #34495E;
    z-index: 2;
    color: #fff;
    font-size: 0.5rem;
    transform-origin: 0 0;
    will-change: transform, opacity;
    transform: scaleY(0) translateZ(0);
    transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.board-list-item:HOVER .board-item-overlay {
	transform:scaleY(1) translateZ(0);
	transition:transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.board-list-item .board-item-fg{
	position: absolute;
	left : 0;
	top : 0;
	right : 0;
	bottom  : 0;
	z-index: 1;
	background: rgba(0, 0, 0, 0.05);
	transform: scale(0);
}

.board-list-item:HOVER .board-item-fg{
	transform: scale(1);
}

.board-list-item .board-item-nosearch{
	text-align: center;
	font-size: 0.7rem;
	color : #F33;
}

.board-list-item .board-item-title {
	color: #333;
	font-weight: bold;
	line-height: 0;
	margin-bottom: 1.2rem;
	font-size : 1rem;
	cursor: pointer;
}

.board-list-item .board-item-desc {
	font-size: 0.7rem;
	color: #888;
	margin-bottom: 0.5rem;
	max-height: 150px;
	overflow: hidden;
}

.board-list-item .board-item-info {
	display: flex;
	item-aligns: center;
	justify-content: space-between;
	font-size: 0.6rem;
}

.board-list-item .board-item-info .board-item-info-l {
	display: flex;
	color: #1F3A93;
}

.board-list-item .board-item-info .board-item-info-r {
	color: #F00;
}

.board-search * {
	height: 1rem;
}

.board-search .search-submit {
	color: #FFF;
	width: 2rem;
	background: #111;
	cursor: pointer;
	font-size: 0.5rem;
}

.colum-border {
	width: 1px;
	height : 0.7rem;
	background: #DDD;
	margin: auto 0.5rem;
}

@media ( max-width : 420px) {
	.wrap-board {
		width: 80%;
	}
}