.wrap-board {
	width: 80%;
	margin: 0px auto;
	margin-top: 3rem;
	
	min-height : calc(100% - 50px);
}

.board .board-head{
	border-bottom: 1px solid #DDD;
	margin-bottom: 1.5rem;
}

.board .board-head .board-sect {
	margin-bottom: 0.5rem;
	color : #F67;
	text-align: center;
	font-weight: bold;
}

.board .board-head .board-title {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 0.8rem;
	text-align: center;
}

.board .board-head .board-info {
	display : flex;
	flex-flow : row nowrap;
	justify-content : center;
	font-size: .75rem;
	padding: 0 0.1rem;
}

.board .board-head .board-info div{
	margin-right: 0.5rem;
}

.board .board-head .board-submenu {
	text-align: right;
	font-size: .75rem;
	margin-bottom: 0.5rem;
	margin-top: 1rem;
}

.board .board-head .board-submenu .btn {
	padding-left: 1rem;
}

.board .board-contents {
	margin-top: 1.5rem;
	margin-bottom : 4rem;
}

.board-files {
	margin-top: 1rem;
}

.board-file {
    margin: 0.2rem 0rem;
    text-align: right;
}

.board-file a{
	cursor: pointer;
	font-size: 0.75rem;
    color: #44F;
}

.colum-border{
	width : 1px;
   	background : #DDD;
}

@media ( max-width : 720px) {
	.wrap-board {
		width: 90%;
	}
}