/*
 * Nanum Square (Korean) http://www.google.com/fonts/earlyaccess
 */
@font-face {
	font-family: 'Nanum Square';
	font-style: normal;
	font-weight: 200;
	src: url(../../font/nanum-square/NanumSquareL.ttf) format('truetype');
}

@font-face {
	font-family: 'Nanum Square';
	font-style: normal;
	font-weight: 400;
	src: url(../../font/nanum-square/NanumSquareR.ttf) format('truetype');
}

@font-face {
	font-family: 'Nanum Square';
	font-style: normal;
	font-weight: 700;
	src: url(../../font/nanum-square/NanumSquareB.ttf) format('truetype');
}

@font-face {
	font-family: 'Nanum Square';
	font-style: normal;
	font-weight: 800;
	src: url(../../font/nanum-square/NanumSquareEB.ttf) format('truetype');
		
}