.file-infos .file-info{
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 0.5px solid #CCC;
	padding: 7px;
	margin-bottom : 5px;
	font-size: 0.75rem;
}

.file-info .btn-file-upload{
	display: none;
}

.file-info.upload .file-name, 
.file-info.upload .btn-file-remove{
	display : none ;
}

.file-info.upload .btn-file-upload{
	display : inherit;
}

.file-info .real-file{
	display : none;
}

.file-info-name {
	flex: 1;
}

.btn-gray-text {
	display: inline-block;
	padding: 5px 10px 5px 10px;
	background: #CFCFCF;
	text-align: center;
	cursor: pointer;
}

.btn-gray-text:hover, .btn-gray-text1.on {
	color: #FFF;
	background: #888;
}

.btn-red-text {
	display: inline-block;
	padding: 5px 10px 5px 10px;
	background: #FCC;
	text-align: center;
	cursor: pointer;
}

.btn-red-text:hover, .btn-gray-text1.on {
	color: #FFF;
	background: #888;
}

