/* header */
.header-occupy {
	height: var(--nav-height);
	opacity: 0;
}

.wrap-header {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	height: var(--nav-height);
	z-index: 2000;
	background: rgba(255, 255, 255, 0.98);
	border-bottom: 0.5px solid #e7e7e7;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	/* max-width: var(--body-max-width); */
	margin: 0 auto;
	padding: 0 3%;
}

.header .wrap-home-logo {
	height: 100%;
	font-size: 15px;
	font-weight: bold;
	color: #000;
}

.header .wrap-home-logo .logo {
	cursor: pointer;
	width: 9rem;
	height: 5rem;
}

/** PC화면 메뉴 아이콘 **/
.header .web-menus {
	display: flex;
	height: 100%;
	align-items: center;
}

.web-menus .web-menu {
	margin-left: 2rem;
	font-size: 15px;
}

.web-menus .web-menu.on {
	font-weight: bold;
}

.web-menu.menu-search-field {
	display: flex;
	align-items: center;
	margin-left: 0;
}

.web-menu.menu-search-field .global-search {
	padding-left: 3px; 
	border : none;
	width: 0px;
	height: 1.6rem;
	background: none;
	transition: width .3s cubic-bezier(0.215, 0.61, 0.355, 1);
	border: none;
}

.web-menu.menu-search-field .global-search.on {
	background: #FFF;
	width: 130px;
	margin-left: 2rem;
	
}

.web-menu.menu-search-field .facet-value{
	padding: 0.3rem 0.2rem;
	cursor: pointer;
}
			
.web-menu.menu-search-field .facet-value.on,
.web-menu.menu-search-field .facet-value:hover{
	background: #EEE;
}

/* 모바일 화면, 메뉴 아이콘 */
.mob-nav{
	display : none;
	height: var(--nav-height);
}

.mob-nav .wrap-mobnav-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	padding : 10px;
}

.mob-nav .wrap-mobnav-icon .mobnav-icon {
	width: 20px;
	height: 15px;
	transform: rotate(0deg);
	cursor: pointer;
}

.mobnav-icon span {
	display: block;
	position: absolute;
	height: 1.5px;
	width: 100%;
	background: #000;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	transform: rotate(0deg);
}

.mobnav-icon.open span {
	background: #000;
}

.mobnav-icon span:nth-child(1) {
	top: 0px;
}

.mobnav-icon span:nth-child(2){
	top: 6px;
}

.mobnav-icon span:nth-child(3) {
	top: 12px;
}


.bg-mob-menus{
	overflow: hidden;
	position: fixed;
	z-index: 3000;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: #000;
	opacity: 0.6;
	display: none;
}

.bg-mob-menus.on{
	display: block;
}

.mob-menus {
	position: fixed;
	right : -50%; 
	top : 0;
	width : 50%;
	min-height : 100%;
	z-index: 3000;
	text-align: right;
	background: #FFF;
	transition : right .3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.mob-menus.on{
	right : 0; 
}

.mob-menus .mob-menu-margin{
	height: 4px;
	background: #FBFBFB;
	border-top : 0.3px solid #F5F5F5;
}

.mob-menus .mob-menu-header{
	background: #FFF;
    height: var(--nav-height);
    display: flex;
    align-items: center;
}

.mob-menus .mob-menu-header img{
	width : 70%;
	max-height : 20%;
	margin: 0 auto;
}

.mob-menus .mob-menu{
	padding : 0px 20px;
	background: #FFF;
	font-size: 1.3rem;
 	color: #444;
}

.mob-menus .mob-menu a{
	padding : 15px 0px;
	display: block;
    width: auto;
}

.mob-menus .mob-menu.search{
	display : flex;
	justify-content: space-between;
	align-items: center;
}

.mob-menu.search .mobnav-search-field {
    flex : 1;
    margin-right: 10px;
}

.mob-menu.search .mobnav-search-field .global-search{
	border: none;
	transition: width .3s cubic-bezier(0.215, 0.61, 0.355, 1);
	width : 0;
	height: 20px;
}

.mob-menu.search .mobnav-search-field .global-search.on{
	width: 100%;
}

.mob-menu.search .mobnav-search-field .global-search:focus{
	border: none;
}

/* 검색어 자동완성 */
.facet-panel{
	z-index : 3001;
}

.facet-panel .facet-value{
    padding: 0.3rem 0.2rem;
    text-align: left;
    cursor: pointer;
}

.facet-panel .facet-value.on, .facet-panel  .facet-value:hover{
    background: #EEE;
}

/** 위로가기 버튼 관련 **/
.btn-scroll-top {
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 2rem;
	background: #000;
	color: #FFF;
	font-size: 0.7rem;
	font-weight: bold;
	padding: 1rem;
	z-index: 1000;
	cursor: pointer;
	opacity: 0.8;
	transition: opacity .2s;
}

.btn-scroll-top:hover {
	opacity: 1;
}

.btn-scroll-top.off {
	opacity: 0;
}

/* progress-bar*/
.progress-bar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 5000;
	background: rgba(0, 0, 0, 0.05);
	
	display: flex;
	justify-content: center;
	align-items: center;
}

.progress-bar.off {
	display: none;
}

.spinner {
	width: 40px;
	height: 40px;
	position: relative;
}

.double-bounce1, .double-bounce2 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #333;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-animation: sk-bounce 2.0s infinite ease-in-out;
	animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

@keyframes sk-bounce { 
	0%, 100% {
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	}

	50% {
		transform :scale (1.0);
		-webkit-transform: scale(1.0);
	}
}


@-webkit-keyframes sk-bounce { 
	0%, 100% {
		-webkit-transform: scale(0.0);
	}
	50% {
		-webkit-transform : scale (1.0);
	}
}


@media ( max-width : 800px) {
	.header .web-menus {
		display: none;
	}
	
	.mob-nav{
		display :  flex;
		align-items: center;
	}
	
	.btn-scroll-top {
		right: 1rem;
	}
}