.wrap-comment {
	border-top : 1px solid #EEE;
	padding-top: 1rem;
	margin-bottom: 7rem;
}

.comment-header{
	color : #F67;
	margin-bottom: 0.5rem;
	font-size: 1.25rem;
}

.comt-pager {
	margin: 1rem;
	text-align: center;
}

/* Comment item */
.comment-item {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items : center;
	padding: 0.5rem 0;
}

.comment-item .comment {
	flex: 1;
}

.comment-item .comment .comment-head{
	display: flex;
	justify-content: space-between;
}

.comment-head .comment-head-info .comment-writer {
	color: #00D;
	font-size: 1rem;
}

.comment-head .comment-head-info .comment-date {
	color: #777;
	font-size: 0.75rem;
}

.comment-head .comment-menu {
	font-size: 0.75rem;
	color: #444;
	text-align: right;
}


.comment .comment-contents {
	color: #444;
	font-size: 0.75rem;
	padding-top: 0.2rem;
	word-break: break-all;
	word-wrap: break-word;
}

.comment-menu a {
	margin-left: 0.5rem;
}


/* Comment Item.reply */
.comment-item.reply {
	margin-left: 1rem;
	padding-left: 0.5rem;
	border-left: 1px solid #EEE;	
}

.comment-item.reply .comment-head-info .comment-writer {
	color: #1c1c24;
}


/*** Comment Write ****/
.comment-write {
	margin-top: 2rem;
}

.comment-write .comment-write-contents {
	width : 100%;
	height : 4rem;
	resize: none;
	overflow: hidden;
	border: 1px solid #DDD;
	border-radius : 3px;
}

.comment-write-pinfo {
	display: flex;
	justify-content : space-between;
	margin-top : 0.5rem;
	height: 1.5rem;
}

.comment-write-pinfo .write-name, 
.comment-write-pinfo .write-password {
	margin-right : 0.3rem;	
} 

.comment-write-pinfo input {
	width : 7rem;
	height: 100%;
	font-size: 0.5rem;
	padding-left: 0.2rem;
	border: 1px solid #DDD;
	border-radius : 3px;
}

.comment-write .comment-write-submit {
	color: #FFF;
	height:100%;
	padding : 0 1rem;
	border-radius : 3px;
	background: #222;
	cursor: pointer;
	font-size: 0.7rem;
}


/** Comment Modify ***/
.comment-modify {
	display: flex;
	flex-flow: row wrap;
	height: 50px;
}

.comment-modify .comment-write-contents {
	flex : 1;
	height : 100%;
	resize: none;
	overflow: hidden;
	border: 1px solid #CCC;
}

.comment-modify .comment-write-submit {
	color: #FFF;
	height:100%;
	padding : 0 1rem;
	background: #222;
	cursor: pointer;
	font-size: 0.5rem;
}

.btn-modify.open{
	opacity: 1;
}


/* Comment Reply */
.comment-reply{
	display : flex;
	margin: 0.5rem 0rem;
	height: 1.5rem;
	font-size: 0.8rem;
}

.comment-reply-content{
	flex : 1;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	width : 20rem;
	resize: none;
}

.comment-reply-submit{
	color: #FFF;
	width: 3rem;
	height: 100%;
	background: #222;
	cursor: pointer;
	font-size: 0.6rem;
}

.btn-reply.open{
	opacity: 1;
}