.footer {
	width : 100%;
	padding : 1rem 0 1rem 0;
	color : #FFF;
	margin-top: 3rem;
	padding : 20px 0;
	background: #19191B;
	line-height: 0.7rem;
}

.info-contact {
	text-align: left;
	font-size: 0.5rem;
}

.info-contact a{
	text-decoration: underline;
}