.wrap-comment {
	border: 1px solid #DDD;
	background: #FFF;
	margin-top: 1rem;
	padding: 1rem;
}

.comment-item {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items : center;
	padding: 0.5rem;
	border-bottom: 1px solid #F0F0F0;
}

.comment-item.reply {
	margin-left: 1rem;
	border-left: 2px double #D2D7D3;	
}

.comment {
	flex: 1;
}

.comment .comment-writer {
	color: #00D;
	font-size: 0.7rem;
}

.comment-item.reply .comment .comment-writer {
	color: #1c1c24;
}

.comment .comment-date {
	color: #777;
	font-size: 0.5rem;
}

.comment .comment-contents {
	color: #444;
	font-size: 0.6rem;
	padding-top: 0.5rem;
	word-break: break-all;
	word-wrap: break-word;
}

.comment-menu {
	font-size: 0.6rem;
	width: 7rem;
	color: #444;
	text-align: center;
}

.comment-menu a {
	margin-left: 0.5rem;
}

.comt-pager {
	margin: 1rem;
	text-align: center;
}

.comment-write {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	margin: 1rem 0.5rem;
	margin-top: 2rem;
	height: 3rem;
}

.comment-write-pinfo {
	display: flex;
	flex-flow: column nowrap;
	width: 5rem;
	height: 100%;
	margin-right: 0.5rem;
}

.comment-write-pinfo input {
	width: 100%;
	height: 1rem;
	font-size: 0.5rem;
	margin-bottom: 0.2rem;
	padding-left: 0.2rem;
	border: 1px solid #CCC;
}

.comment-write-contents {
	flex: 1;
	height: 100%;
	resize: none;
	overflow: hidden;
	border: 1px solid #CCC;
}

.comment-write-submit {
	color: #FFF;
	width: 5rem;
	height: 100%;
	background: #666;
	cursor: pointer;
	font-size: 0.7rem;
}

.comment-modify {
	display: flex;
	flex-flow: row wrap;
	height: 50px;
}