.file-infos .file-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid #CCC;
	border-radius: 5px;
	padding: 0.5rem;
}

.file-infos .file-info:NOT (:FIRST-CHILD ){
	margin-top: 0.5rem;
}

.file-info-name {
	flex: 1;
}

.btn-file-upload, .btn-file-remove {
	max-width: 100px;
}