.file-infos .file-info, .file-infos .file-upload{
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 0.5px solid #CCC;
	padding: 7px;
	margin-bottom : 5px;
}

.file-infos .file-info.temp{
	display: none;
}

.file-infos .file-info.remove{
	display: none;
}

.file-info .file-info-name {
	flex: 1;
}

.file-upload .real-file{
	display : none;
}

.btn-gray-text {
	display: inline-block;
	padding: 5px 10px 5px 10px;
	background: #CFCFCF;
	text-align: center;
	cursor: pointer;
}

.btn-gray-text:hover, .btn-gray-text1.on {
	color: #FFF;
	background: #888;
}

.btn-red-text {
	display: inline-block;
	padding: 5px 10px 5px 10px;
	background: #FCC;
	text-align: center;
	cursor: pointer;
}

.btn-red-text:hover, .btn-gray-text1.on {
	color: #FFF;
	background: #888;
}

