/* header */
.header-occupy {
	height: 60px;
	opacity: 0;
}

.wrap-header {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 60px;
	z-index: 2000;
	background: rgba(255, 255, 255, 0.9);
	border-bottom: 0.5px solid #e7e7e7;
}

.wrap-header.down {
	/* box-shadow: 0 1px 0 rgba(12,13,14,0.1), 0 1px 3px rgba(12,13,14,0.1), 0 4px 20px rgba(12,13,14,0.035), 0 1px 1px rgba(12,13,14,0.025); */
	
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	max-width: 1080px;
	margin: 0 auto;
	padding: 0 3%;
}

.header .wrap-home-logo {
	height: 100%;
	font-size: 15px;
	font-weight: bold;
	color: #000;
}

.header .wrap-home-logo .logo {
	cursor: pointer;
	width: 9rem;
	height: 5rem;
}

/** PC화면 메뉴 아이콘 **/
.header .web-menus {
	display: flex;
	height: 100%;
	align-items: center;
}

.btn-web-menu {
	margin-left: 2rem;
	font-size: 15px;
}

.btn-web-menu.on {
	font-weight: bold;
}

.menu-search {
	display: flex;
	align-items: center;
}

.menu-search .global-search {
	padding-left: 3px; border : none;
	width: 0px;
	height: 1.6rem;
	background: none;
	transition: width .3s cubic-bezier(0.215, 0.61, 0.355, 1);
	border: none;
}

.menu-search .global-search:focus {
	margin-left: 10px;
	background: #FFF;
	width: 130px;
}
/* .menu-search .global-search::placeholder{
	color: #333;
}  */

/* 모바일 화면, 메뉴 아이콘 */
.wrap-nav-icon {
	display: none;
	position: fixed;
	top: 0;
	right: 5%;
	height: 60px;
	z-index: 4000;
}

.nav-icon {
	width: 25px;
	height: 15px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}

.nav-icon span {
	display: block;
	position: absolute;
	height: 1.5px;
	width: 100%;
	background: #000;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

.nav-icon.open span {
	background: #000;
}

.nav-icon span:nth-child(1) {
	top: 0px;
}

.nav-icon span:nth-child(2), .nav-icon span:nth-child(3) {
	top: 6px;
}

.nav-icon span:nth-child(4) {
	top: 12px;
}

.nav-icon.open span:nth-child(1) {
	top: 20px;
	width: 0%;
	left: 50%;
}

.nav-icon.open span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.nav-icon.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.nav-icon.open span:nth-child(4) {
	top: 26px;
	width: 0%;
	left: 50%;
}

.nav-background-wrapper {
	overflow: hidden;
	position: fixed;
	z-index: 3000;
	left: 0;
	right: 0;
	bottom: 0; top : 0;
	pointer-events: none;
	top: 0;
}

.nav-background {
	position: fixed;
	top: -358px;
	right: -358px;
	width: 800px;
	height: 800px;
	z-index: 3001;
	transform: scale(0, 0);
	border-radius: 50%;
	background-color: #FEFEFE;
	pointer-events: none;
}

.nav-menu {
	position: fixed;
	left: 0; right : 0; bottom : 0; top : 0;
	z-index: 3000;
	text-align: center;
	background: #FEFEFE;
	opacity: 0;
	right: 0;
	bottom: 0;
	top: 0;
}

.nav-menu.unvalid {
	pointer-events: none;
}

.nav-menu div {
	margin: 0.5rem 0rem;
	font-size: 1.3rem;
}

/** 위로가기 버튼 관련 **/
.btn-scroll-top {
	position: fixed;
	right: 1.5rem;
	bottom: 1rem;
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 2rem;
	background: #000;
	color: #FFF;
	font-size: 0.4rem;
	font-weight: bold;
	padding: 1rem;
	z-index: 2999;
	cursor: pointer;
	opacity: 0.7;
	trasnform: scale(1);
	transition: transform 0.2s;
}

.btn-scroll-top:hover {
	opacity: 1;
}

.btn-scroll-top.off {
	transform: scale(0)
}

/* progress-bar*/
.progress-bar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 5000;
	background: rgba(0, 0, 0, 0.05);
}

.progress-bar.off {
	display: none;
}

.spinner {
	width: 40px;
	height: 40px;
	position: relative;
	top: 50%;
	margin: auto;
	margin-top: -20px;
}

.double-bounce1, .double-bounce2 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #333;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-animation: sk-bounce 2.0s infinite ease-in-out;
	animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

@
-webkit-keyframes sk-bounce { 0%, 100% {
	-webkit-transform: scale(0.0)
}

50%
{
-webkit-transform
:
 
scale
(1
.0
)
 
}
}
@
keyframes sk-bounce { 0%, 100% {
	transform: scale(0.0);
	-webkit-transform: scale(0.0);
}

50%
{
transform
:
 
scale
(1
.0
);

		
-webkit-transform
:
 
scale
(1
.0
);

	
}
}
@media ( max-width : 800px) {
	.header .web-menus {
		display: none;
	}
	.wrap-nav-icon {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}